{{ header }}
<main id="main-content">
  <div class="container-lg pt-xl-10 pt-2">
    {{ module_profile }}
    <div class="row no-gutters border-top">
      <div class="col-12 col-xl-3">{{ column_left }}</div>
      <div class="wid_content_info block_request_support col-12 col-xl-9 border-left pl-0 pl-xl-10 py-6 wow fadeInUp" ng-controller="ProfileFeedbackCtrl" ng-init="init()" style="display: none" ng-style="{'display':inited?'':'none'}" data-wow-delay="0.{{ random(1,3) }}s">
        <div class="page-title font-weight-bold text-uppercase h4 mb-4">{{ text_support_request }}<!-- text_support_request --></div>
        <form  name="form" novalidate autocomplete="off" enctype="multipart/form-data" role="form" accept-charset="utf-8">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group" ng-class="{'has-danger':form.first_name.$invalid&&envData.showValid}">
              <label>{{ text_fullname }}</label>
              <input type="text" class="form-control rounded-0" name="name" value="{{ userInfo.display }}" placeholder="{{ entry_fullname }}" disabled>
              </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group">
                  <label>{{ text_contact }}<!-- text_contact --></label>
                  <input type="text" class="form-control rounded-0" name="contact" value="{{ userInfo.email }}" required disabled>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group" ng-class="{'has-danger':form.phone_number.$invalid&&envData.showValid}">
                  <label>Số điện thoại</label>
                  {% if userInfo.phone_number %}
                    <input type="text" class="form-control rounded-0" name="phone_number" value="{{ userInfo.phone_number }}" required disabled>
                  {% else %}
                    <input type="text" class="form-control rounded-0" name="phone_number" ng-model="params.phone_number" placeholder="Nhập số điện thoại" required>
                  {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group" ng-class="{'has-danger':form.type.$invalid&&envData.showValid}">
                <label>{{ text_request }}<!-- text_request --></label>
                <select class="form-control rounded-0" name="type" ng-model="params.type" required>
                  <option value="">{{ entry_request }}<!-- entry_request --></option>
                  <option ng-repeat="item in listType" ng-value="item">{{ '{{ item }}' }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group" ng-class="{'has-danger':form.order_id.$invalid&&envData.showValid}">
                <label>{{ text_order_code }}<!-- text_order_code --></label>
                <input type="text" class="form-control rounded-0" ng-model="params.order_id" name="order_id" placeholder="{{ entry_order_code }}" required> <!-- entry_order_code -->
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <input type="hidden" name="filename" ng-model="params.filename" autocomplete="off">
                <label>{{ text_attached }}<!-- text_attached --></label>
                <div class="custom-input-file form-control rounded-0 d-inline-flex">
                  <input name="file" type="file" class="form-control" onchange="angular.element(this).scope().change(this)" accept=".doc,.docx,.pdf,.png,.jpg,.jepg">
                  <i class="fa fa-paperclip"></i>
                  <span ng-if="params.filename" class="name-file pl-2 limit-text-1" ng-bind-html="params.filename|safe_html"></span>
                  <span ng-if="!params.filename" class="name-file pl-2">{{ text_choose_file }}<!-- text_choose_file --></span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>{{ text_request_des }}<!-- text_request_description --></label>
                <textarea class="form-control rounded-0" name="message" ng-model="params.message" rows="6"></textarea>
              </div>
            </div>
          </div>
          <div class="mt-4 mt-md-9 wow fadeInUp" data-wow-delay="0.3s">
            <button type="button" class="cus_btn px-6 px-xl-12 ml-auto" ng-click="submit(form)" ng-disabled="envData.submitted"><span><span class="spinner-border spinner-border-sm" ng-if="envData.submitted"></span></span>{{ button_send_request }}<!-- button_send_request --></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{{ footer }}
