{{ header }}
<style>
  .site-navbar .header-bottom {
    background-color: var(--secondary) !important;
  }
</style>
<div id="main-content" class="account{{ layout }}">
  <div class="blank block_login" ng-controller="LoginCtr" ng-init="init()" style="display: none; background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgb(254 251 244) 100%), url('{{ global.config_bg_login }}') no-repeat bottom center / cover" ng-style="{'display':inited?'':'none'}">
    <div class="container mb-15 pb-15 px-6 px-md-1 mb-15">
      <div class="text-center">
        <h2 class="text-uppercase font-weight-normal">Đăng nhập</h2>
        <div>Bạn chưa có tài khoản? <a class="font-weight-bolder" href="/register"><u>Đăng ký</u></a></div>
      </div>
      <div class="mt-6">
        <div class="row no-gutters justify-content-center" style="column-gap: 50px">
          <div class="col-auto" style="width: 285px">
            <form name="form" novalidate autocomplete="on" ng-submit="login(form.$valid)">
              {% if error_warning %}<p class="alert alert-danger">{{ error_warning }}</p>{% endif %}
              <div class="form-group" ng-class="{'has-danger':form.email.$invalid&&(!form.email.$pristine||envData.showValid)}">
                <input name="email" type="text" class="form-control rounded-0 border-white" placeholder="Email" ng-model="params.email" required>
              </div>
              <div class="form-group" ng-class="{'has-danger':form.password.$invalid&&(!form.password.$pristine||envData.showValid)}">
                <div class="input-group input-group-merge">
                  <input name="password" type="{{ '{{ passType }}' }}" class="form-control border-right-0 rounded-0 border-white" placeholder="Mật khẩu" ng-model="params.password" required>
                  <div class="input-group-append">
                    <button type="button" class="btn border border-left-0 rounded-0 border-white form-control bg_opacity" ng-click="changePassType()" style="width: 35px;"><span class="ic_eye" ng-class="{'ic_eye':passType=='password','ic_eye_hidden':passType=='text'}"></span></button>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-lg rounded-0 btn_white_to_primary w-100 form-control" type="submit" ng-disabled="envData.submitted"><span class="spinner-grow spinner-grow-sm align-middle" ng-if="envData.submitted"></span> Đăng nhập</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('.account{{ layout }} > div').css('min-height', 'calc(100vh - '+ $('.box_header').outerHeight() +'px)');
  </script>
</div>
{{ footer }}
