{{ header }}
  {% set cols = 3.5 %}
  {% set space_col = 30 %}
  {% set cols_mb = properties.colMb?properties.colMb:2 %}
  {% set space_col_mb = properties.spacingColMb!=''?properties.spacingColMb:20 %}
  {% set rows = properties.row?properties.row:1 %}
  {% set rows_mb = properties.rowMb?properties.rowMb:1 %}
<main id="main-content">
  <div class="container-lg py-10 pt-2">
    <div class="wid_content_info block_order_detail border-left wow fadeInUp" data-wow-delay="0.3s">
        <div class="page-title font-weight-bold text-uppercase h4 mb-4"><a href="/account/orders"><span class="cursor-pointer fa fa-arrow-left"></span></a>&nbsp;&nbsp;Chi tiết mua hàng</div>
        {% if order_info %}
          <div class="row no-gutters" style="row-gap: 30px">
            <div class="col-12 col-md-8 pr-0 pr-md-5">
              <div class="block_detail_info position-relative border py-2 py-md-4 h-100">
                <div class="d-flex justify-content-start px-2 pb-2 px-md-4 pb-md-4 border-bottom">
                  <span class="font-weight-bold">Mã đơn hàng: 
                  <span class="text-primary" id="order_no">{{ order_info.idx }}</span></span>
                </div>
                <div class="p-2 p-md-4">
                  <p class="mb-3">Ngày mua hàng: <span>{{ (order_info.payment_at?order_info.payment_at:order_info.created_at)|date("d/m/Y") }}</span> lúc <span>{{ (order_info.payment_at?order_info.payment_at:order_info.created_at)|date('H:i') }}</span></p>
                  <span class="badge badge_order_info {{ order_info.order_status }} mb-3">{{ order_info.order_status_name }}</span>
                  <p class="text-gray">Vui lòng xác nhận thông tin cá nhân (thông qua CMND, giấy phép lái xe,…) và đồng kiểm với shipper trước khi nhận hàng. Mọi khiếu nại sau khi khách ký nhận sẽ không được giải quyết.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 pl-0 pl-md-5">
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="border py-2 py-md-4 h-100">
                    <div class="px-2 pb-2 px-md-4 pb-md-4 border-bottom"><span class="font-weight-bold">Thông tin mua hàng</span></div>
                    <div class="px-2 pt-2 px-md-4 pt--md4">
                      <p class="font-weight-bold mb-2"><span>{{ order_info.shipping_first_name }}</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <div class="border py-2 py-md-4 h-100">
                    <div class="px-2 pb-2 px-md-4 pb-md-4 border-bottom"><span class="font-weight-bold">Phương thức thanh toán</span></div>
                    <div class="px-2 pt-2 px-md-4 pt-md-4">
                      <span>{{ order_info.payment_method }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-6 border">
            <div class="row no-gutters border-bottom p-4 wow fadeInUp" data-wow-delay="0.{{ random(1,3) }}s" style="row-gap: 20px">
              {% for product in products %}
                <div class="col-12 col-md-6 pr-4 pr-md-12">
                  <div class="d-flex">
                    <div class="position-relative img_order_item">
                      <a href="{{ product.info.href }}" target="_blank"><span class="embed-responsive embed-responsive-cms bg-cover lazyload swiper-lazy" data-src="{{ product.info.thumb_url }}" data-background="{{ product.info.thumb_url }}" style="width: 80px; height: 80px;"></span></a>
                    </div>
                    <a class="pl-4" href="{{ product.info.href }}" target="_blank">
                      <p class="mb-2 limit-text-2">{{ product.info.name }}</p>
                      {% if product.type == 'T' and not product.info.is_free %}
                        <span class="font-weight-bold font-4"><span>{{ product.quantity }}</span>&nbsp;x&nbsp;<span>{{ product.price|number_format(0,'.','.') ~ 'đ' }}</span></span>
                      {% elseif product.type == 'G' %}
                        <span class="text-primary font-weight-bold font-4"><span>{{ product.coins|number_format(0,'.','.') }} {{ text_points }}</span></span>
                      {% else %}
                        <span class="font-weight-bold font-4 text-teal">{{ text_gift }}</span>
                      {% endif %}
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="row justify-content-end p-4 wow fadeInUp" data-wow-delay="0.{{ random(1,3) }}s">
              <div class="col-12 col-md-6">
                <div class="mb-2"><span>Tiền hàng:<span class="float-right">{{ order_info.sub_total|number_format(0,'.','.') ~ 'đ' }}</span></span></div>
                <div class="font-4 font-weight-bold total_price"><span>Tổng tiền:<span class="float-right font-3">{{ order_info.total|number_format(0,'.','.') ~ 'đ' }}</span></span></div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="empty_order d-flex flex-column justify-content-center align-items-center mt-5" style="min-height: 40vh">
            <h4 class="font-4 text-gray font-weight-bold mt-3">{{ text_empty_order }}</h4>
          </div>
        {% endif %}
      </div>
  </div>
</main>
{{ footer }}
