{{ header }}
<main id="main-content" ng-controller="PasswordChangeCtr" ng-init="init()" style="display: none;" ng-style="{'display':inited?'':'none'}">
  <div class="container-lg pt-xl-10 pt-2">
    {{ module_profile }}
    <div class="row no-gutters border-top">
      <div class="col-12 col-xl-3">{{ column_left }}</div>
      <div class="wid_content_info col-12 col-xl-9 border-left pl-0 pl-xl-10 py-6">
        <div class="page-title font-weight-bold text-uppercase h4 mb-4">{{ text_change_pass }}</div>
        <form name="form" novalidate autocomplete="off" ng-submit="submit(form)">
          <div class="form-group">
            <label class="input-label font-weight-bold">{{ text_email }}</label>
            <input name="email" type="text" ng-model="params.email" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 px-0" ng-readonly="params.email">
          </div>
          <div class="form-group" ng-class="{'has-danger':form.current_password.$invalid&&envData.showValid}">
            <label class="input-label font-weight-bold">{{ text_current_password }}</label>
            <input name="current_password" type="password" ng-model="params.current_password" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 px-0" placeholder="{{ entry_current_password }}" required>
          </div>
          <div class="form-group" ng-class="{'has-danger':form.password.$invalid&&envData.showValid}">
            <label class="input-label font-weight-bold">{{ text_new_password }}</label>
            <input name="password" type="password" ng-model="params.password" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 px-0" placeholder="{{ entry_new_password }}" required>
          </div>
          <div class="form-group" ng-class="{'has-danger':form.confirm_password.$invalid&&envData.showValid}">
            <label class="input-label font-weight-bold">{{ text_confirm_password }}</label>
            <input name="confirm_password" type="password" ng-model="params.confirm_password" password-equal="params.password" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 px-0" placeholder="{{ entry_confirm_password }}" required>
          </div>
          <button type="submit" class="cus_btn w-50 mt-4 mt-md-6" ng-disabled="envData.submitted">
            <span class="spinner-border spinner-border-sm" ng-if="envData.submitted"></span>
            <span>{{ button_done }}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function() {
    setTimeout(function() {
      var heights = _.map($('.info_section'), (el) => $(el).outerHeight(false));
      var maxHeight = _.max(heights);
      $('.info_section').css('height', maxHeight + 'px');
    }, 100);
  });
  // window.addEventListener('resize', function() {
  //   location.reload();
  // });
</script>
{{ footer }}
