{{ header }}
<script>window['stateParams']={{ stateParams|json_encode }};</script>
<div id="main-content" class="account{{ layout }}">
  <div class="blank block_login" ng-controller="PasswordRecoverCtr" ng-init="init()" style="display: none; background: linear-gradient(to top, rgba(0, 0, 0, 0) 80%, rgba(255,255,255, 1) 100%), url('{{ global.config_bg_login }}') no-repeat bottom center / cover" ng-style="{'display':inited?'':'none'}">
    <div class="container mb-15" style="max-width: 1000px">
      <div class="text-center mb-8">
        <h2 class="text-uppercase font-weight-normal">{{ text_recover?text_recover:'Mật khẩu mới' }}<!-- text_recover --></h2>
      </div>
      <form name="form" novalidate autocomplete="off" ng-submit="submit(form)">
        <div class="col-12 col-sm-6 col-md-5 mx-auto">
          <div class="form-group" ng-class="{'has-danger':form.password.$invalid&&envData.showValid}">
            <input type="password" name="password" ng-model="params.password" class="form-control rounded-0 border-white" placeholder="{{ text_password?text_password:'Mật khẩu' }}" required>
          </div>
          <div class="form-group" ng-class="{'has-danger':form.confirm_password.$invalid&&envData.showValid}"><!-- text_confirm_password -->
            <input type="password" name="confirm_password" class="form-control rounded-0 border-white" placeholder="{{ text_confirm_password?text_confirm_password:'Xác nhận mật khẩu' }}"
                   ng-model="params.confirm_password"
                   password-equal="params.password"
                   required>
          </div>
          <div class="text-center">
            <button class="btn btn-lg rounded-0 btn_white_to_primary w-100 form-control" type="submit" ng-disabled="envData.submitted"><span class="spinner-grow spinner-grow-sm align-middle" ng-if="envData.submitted"></span> {{ button_recover?button_recover:'Đổi mật khẩu' }}<!-- button_recover --></button>
          </div>
        </div>
      </form>
      <div class="clearfix">&nbsp;</div>
    </div>
  </div>
  <script>
    $('.account{{ layout }} > div').css('min-height', 'calc(100vh - '+ $('.box_header').outerHeight() +'px)');
  </script>
</div>
{{ footer }}
