{{ header }}
<main id="main-content">
  <div class="container-lg pt-xl-10 pt-2">
    {{ module_profile }}
    <div class="row no-gutters border-top">
      <div class="col-12 col-xl-3">{{ column_left }}</div>
      <div class="wid_content_info block_points overflow-hidden border-left col-12 col-xl-9 pl-0 pl-xl-10 py-6">
        <div class="banner_promotion w-100 h-auto">
          {{ config_coin_promotion }}
        </div>
      </div>
    </div>
  </div>
</main>
{{ footer }}
