{{ header }}
<main id="main-content" ng-controller="ProfileCtrl">
  <div class="container-lg pt-xl-10 pt-2">
    {{ module_profile }}
    <div class="row no-gutters border-top">
      <div class="col-12 col-xl-3">{{ column_left }}</div>
      <div class="wid_content_info col-12 col-xl-9 border-left pl-0 pl-xl-10 py-6" ng-controller="ProfileFormCtrl" ng-init="init()" style="display: none" ng-style="{'display':inited?'':'none'}">
        <div class="page-title font-weight-bold text-uppercase h4 mb-4">{{ text_profile }}<!-- text_profile --></div>
        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="info_section d-flex flex-column border p-4 overflow-hidden wow fadeInUp" data-wow-delay="0.3s">
              <div class="info_item pb-4 d-flex justify-content-between cursor-pointer" ng-click="changeFullName()">
                <span class="font-weight-bold">{{ text_fullname }}</span>
                <div class="d-flex align-items-center"><span ng-bind="params.first_name || ('{{ text_not_update }}')" ng-class="{'text-primary': !params.first_name}"></span><span class="ml-4 fa fa-angle-right"></span></div>
              </div>
              <div class="info_item border-top py-4 d-flex justify-content-between cursor-pointer" {#ng-click="changeEmail()"#}>
                <span class="font-weight-bold">{{ text_email }}</span>
                <div class="d-flex align-items-center"><span class="span_text_overflow" ng-bind="params.email || ('{{ text_not_update }}')" ng-class="{'text-primary': !params.email}"></span>{#<span class="ml-4 fa fa-angle-right"></span>#}</div>
              </div>
              <div class="info_item border-top py-4 d-flex justify-content-between cursor-pointer" ng-click="changePhoneNumber()">
                <span class="font-weight-bold">{{ text_phone_number }}</span>
                <div class="d-flex align-items-center"><span ng-bind="params.phone_number || ('{{ text_not_update }}')" ng-class="{'text-primary': !params.phone_number}"></span><span class="ml-4 fa fa-angle-right"></span></div>
              </div>
              <div class="info_item border-top py-4 d-flex justify-content-between cursor-pointer" ng-click="params.birthday == '' && changeBirthday()">
                <span class="font-weight-bold">{{ text_birthday }}</span>
                <div class="d-flex align-items-center"><span ng-bind="(params.birthday|date:'dd-MM-yyyy') || ('{{ text_not_update }}')" ng-class="{'text-primary': !params.birthday}"></span><span ng-if="params.birthday == ''" class="ml-4 fa fa-angle-right"></span></div>
              </div>
              <div class="info_item border-top py-4 d-flex justify-content-between cursor-pointer" ng-click="changeGender()">
                <span class="font-weight-bold">{{ text_gender }}</span>
                <div class="d-flex align-items-center"><span ng-bind="params.gender==1?'Nam':params.gender==2?'Nữ':('{{ text_not_update }}')" ng-class="{'text-primary': params.gender == 0}"></span><span class="ml-4 fa fa-angle-right"></span></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="info_section d-flex flex-column p-4 border mt-4 mt-xl-0 overflow-hidden wow fadeInUp font-6" data-wow-delay="0.4s" style="justify-content: space-evenly">
              <div class="info_item d-flex justify-content-between align-items-center cursor-pointer">
                <div class="social_item"><img src="/assets/images/icons/icon_facebook.jpg"><span class="ml-3 font-weight-bold">Facebook</span></div>
                <div class="d-flex align-items-center"><span class="text-primary">{{ text_connect }}</span><span class="ml-4 fa fa-angle-right"></span></div>
              </div>
              <hr width="100%">
              <div class="info_item d-flex justify-content-between align-items-center cursor-pointer">
                <div class="social_item"><img src="/assets/images/icons/icon_google.jpg"><span class="ml-3 font-weight-bold">Google</span></div>
                {#<div class="d-flex align-items-center"><span>trungthao@tedfast.vn</span><span class="ml-2 ml-md-4 fa fa-remove"></span></div>#}
                <div class="d-flex align-items-center"><span class="text-primary">{{ text_connect }}</span><span class="ml-4 fa fa-angle-right"></span></div>
              </div>
              <!-- Tạm ẩn -->
              {#<hr width="100%">
              <div class="info_item d-flex justify-content-between align-items-center">
                <div class="social_item"><img src="/assets/images/icons/icon_apple.jpg"><span class="ml-3 font-weight-bold">Apple</span></div>
                <div class="d-flex align-items-center"><span class="text-primary">{{ text_connect }}</span><span class="ml-4 fa fa-angle-right"></span></div>
              </div>#}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function() {
    setTimeout(function() {
      var heights = _.map($('.info_section'), (el) => $(el).outerHeight(false));
      var maxHeight = _.max(heights);
      $('.info_section').css('height', maxHeight + 'px');
    }, 100);
  });
</script>
{{ footer }}
