{{ header }}
<style>
  .product_theme_2 {
    --col: 4;
    --col-mb: 2;
    --spacing-col: 50px;
    --spacing-col-mb: 20px;
  }
</style>
<script>window.redeemProducts={{ redeem_products|json_encode }};</script>
<main id="main-content">
  <div class="container-lg pt-xl-10 pt-2">
    {{ module_profile }}
    <div class="row no-gutters border-top">
      <div class="col-12 col-xl-3">{{ column_left }}</div>
      <div class="wid_content_info block_points_redeem border-left col-12 col-xl-9 pl-0 pl-xl-10 py-6" ng-controller="ProfileRedeemCtrl" ng-init="init()" style="display: none" ng-style="{'display':inited?'':'none'}">
        <div class="page-title font-weight-bold text-uppercase h4 mb-4"><a href="/account/points"><span class="cursor-pointer fa fa-arrow-left"></span></a>&nbsp;&nbsp;{{ text_redeem_points }}<!-- text_redeem_points --></div>
        <div class="gift-block product_theme_2 overflow-hidden">
          <div class="row bs5">
            <div class="col-cms wow fadeInUp" ng-repeat="product in redeemProducts" data-wow-delay="0.3s">
              <div class="wid_block wow fadeInUp" data-wow-delay="0.{{ '{{ $index }}' }}s">
                <!-- Item img -->
                <div class="wid_img_block position-relative overflow-hidden cursor-pointer">
                  <div class="wid_img img position-relative">
                    <div class="embed-responsive embed-responsive-{{ properties.imgFrame?properties.imgFrame:'1by1' }} bg-cover" ng-style="{'background-image': 'url(' + product.thumb_url + ')'}"></div>
                  </div>
                  <div class="wid_button_block overflow-hidden">
                    <div class="overflow-hidden" ng-if="currentUser.coins < product.coins && !product.is_redeem">
                      <button type="button" class="cus_btn btn_white" ng-bind="'Thiếu '+(product.coins-currentUser.coins|number:'':0)+' coin'"></button>
                    </div>
                    <div class="overflow-hidden" ng-if="currentUser.coins >= product.coins && !product.is_redeem">
                      <button type="button" ng-click="addProductByCoins(product)" class="cus_btn btn_white">{{ text_redeem }}</button>
                    </div>
                    <div class="overflow-hidden" ng-if="product.is_redeem">
                      <button type="button" class="cus_btn btn_white">Đã đổi</button>
                    </div>
                  </div>
                </div>
                <!-- Item Name -->
                <div class="wid_info">
                  <div class="wid_short_description text-uppercase text-primary mt-3 font-weight-bold font-6" ng-bind="product.category"></div>
                  <a href="{{ '{{ product.href }}' }}"><p class="wid_name mt-1 limit-text-2 mb-0" ng-bind="product.name">{{ item.name }}</p></a>
                </div>
                <!-- Price -->
                <div class="wid_price mt-1 text-left">
                  <p class="font-weight-bold mb-1 font-4" ng-bind="(product.coins|number:'':0)+' Go Mart coin'"></p>
                  <span class="price-cost text-gray font-weight-bold">{{ text_worth }} <span ng-bind="(product.price|currency:'':0)+'đ'"></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ footer }}
