{{ header }}
<div id="main-content" class="account{{ layout }}">
  <div class="blank block_login align-item-end" ng-controller="RegisterCtr" ng-init="init()" style="display: none; background: linear-gradient(to top, rgba(0, 0, 0, 0) 80%, rgba(255,255,255, 1) 100%), url('{{ global.config_bg_login }}') no-repeat bottom center / cover" ng-style="{'display':inited?'':'none'}">
    <div class="container px-6 px-md-1 mb-15" style="max-width: 1000px">
      <div class="text-center">
        <h2 class="text-uppercase font-weight-normal">Đăng ký</h2>
        <div>Bạn đã có tài khoản? <a class="font-weight-bolder" href="{{ login_href }}"><u>Đăng nhập</u></a></div>
      </div>
      <form name="form" novalidate autocomplete="off" ng-submit="onSubmit(form)">
        <div class="mt-6">
          {% if error_warning %}<p class="alert alert-danger">{{ error_warning }}</p>{% endif %}
          <div class="row no-gutters justify-content-center" style="column-gap: 50px">
            <div class="col-auto" style="width: 285px">
              <form name="form" novalidate autocomplete="off" ng-submit="login(form.$valid)">
                {% if error_warning %}<p class="alert alert-danger">{{ error_warning }}</p>{% endif %}
                <div class="form-group" ng-class="{'has-danger':form.first_name.$invalid&&envData.showValid}">
                  <input name="first_name" type="text" id="first_name" ng-model="params.first_name" class="form-control rounded-0 border-white" placeholder="Họ tên" required>
                </div>
                <div class="form-group" ng-class="{'has-danger':form.email.$invalid&&envData.showValid}">
                  <input name="email" id="email" type="text" ng-model="params.email" class="form-control rounded-0 border-white" ng-pattern="PATTERNS.EMAIL2" placeholder="Email" required>
                </div>

                <div class="form-group" ng-class="{'has-danger':form.password.$invalid&&(!form.password.$pristine||envData.showValid)}">
                  <div class="input-group input-group-merge"><!-- text_password -->
                    <input name="password" type="{{ '{{ passType }}' }}" class="form-control border-right-0 rounded-0 border-white" placeholder="Mật khẩu" ng-model="params.password" required>
                    <div class="input-group-append">
                      <button type="button" class="btn border border-left-0 rounded-0 border-white form-control bg_opacity" ng-click="changePassType()" style="width: 35px;"><span class="ic_eye" ng-class="{'ic_eye':passType=='password','ic_eye_hidden':passType=='text'}"></span></button>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-lg rounded-0 btn_white_to_primary w-100 form-control" type="submit" ng-disabled="envData.submitted"><span class="spinner-grow spinner-grow-sm align-middle" ng-if="envData.submitted"></span> Tạo tài khoản</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    $('.account{{ layout }} > div').css('min-height', 'calc(100vh - '+ $('.box_header').outerHeight() +'px)');
  </script>
</div>
{{ footer }}
