{{ header }}
<main id="main-content" ng-controller="ProfileCtrl" ng-init="init()">
  {{ module_profile }}
  <div class="">
    <div class="container">
      <div class="layout_account">
        {{ column_left }}
        <div class="main_content">
          <div class="page-title font-weight-bold text-capitalize h4 mb-7">{{ heading_title }}</div>
          <profile-sms></profile-sms>
        </div>
      </div>
    </div>
  </div>
</main>
{{ footer }}
