{{ header }}
<script>window.langtext = {
    text_change_password: {{ text_change_password|json_encode }},
    entry_password_current: {{ entry_password_current|json_encode }},
    entry_password_new: {{ entry_password_new|json_encode }},
    entry_password_confirm: {{ entry_password_confirm|json_encode }},
    button_change_password: {{ button_change_password|json_encode }},
    text_add_address: {{ text_add_address|json_encode }},
    text_edit_address: {{ text_edit_address|json_encode }},
    text_fullname: {{ text_fullname|json_encode }},
    text_phone: {{ text_phone|json_encode }},
    text_type_address: {{ text_type_address|json_encode }},
    text_type_home: {{ text_type_home|json_encode }},
    text_type_company: {{ text_type_company|json_encode }},
    text_province_city: {{ text_province_city|json_encode }},
    text_choose_province_city: {{ text_choose_province_city|json_encode }},
    text_district: {{ text_district|json_encode }},
    text_choose_district: {{ text_choose_district|json_encode }},
    text_choose_wards: {{ text_choose_wards|json_encode }},
    text_address: {{ text_address|json_encode }},
    text_example_address: {{ text_example_address|json_encode }},
    text_use_as_default: {{ text_use_as_default|json_encode }},
    text_cancel: {{ text_cancel|json_encode }},
  };</script>
<script>window.orderInfo={{ orderInfo|json_encode }};</script>
<main ng-controller="CheckoutPaymentCtr" ng-init="init()" style="display: none" ng-style="{'display':inited?'':'none'}">
  <form name="form" novalidate autocomplete="off">
    <div class="wid_block_payment row no-gutters pb-0">
      <div class="box-checkout-header col-12 col-md-8 border-right">
        <div class="section-bill-info">
          <div class="border-bottom py-2 py-xl-4 px-2 px-xl-5 px-xxl-13">
            <div class="bg-white position-relative">
              <div class="d-flex flex-column flex-xl-row py-3 py-xl-0 justify-content-between align-items-center"><a class="py-4 py-xl-1 navbar-brand" href="/"><img src="{{ logo }}" class="img-fluid" style="object-fit: contain"></a>
                <div class="order-process ml-md-3">
                  <div class="d-flex align-items-baseline align-items-md-center font-weight-bold">
                    <div class="progress-item d-flex flex-column flex-md-row justify-content-center align-items-center">
                      <div class="icon_process mr-md-2"><span class="p-2 text-white bg-dark rounded-circle fa fa-shopping-bag"></span></div>
                      <a class="progress-link text-center" style="white-space: nowrap">Giỏ hàng</a>
                    </div>
                    <hr class="d-md-none" width="30px" color="#0F1F2A">
                    <div class="progress-item d-flex flex-column flex-md-row justify-content-center align-items-center">
                      <hr class="d-none d-md-block mx-2" width="30px" color="#0F1F2A">
                      <div class="icon_process mr-md-2"><span class="p-2 text-white bg-dark rounded-circle fa fa-info-circle"></span></div>
                      <a class="progress-link text-center" style="width: 90px">Vận chuyển</a>
                    </div>
                    <hr class="d-md-none" width="30px" color="#0F1F2A">
                    <div class="progress-item active d-flex flex-column flex-md-row justify-content-center align-items-center">
                      <hr class="d-none d-md-block mx-2" width="30px" color="#0F1F2A">
                      <div class="icon_process mr-md-2"><span class="p-2 text-white bg-dark rounded-circle fa fa-credit-card"></span></div>
                      <a class="progress-link text-center">Thanh toán</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content mt-4 mt-xl-8 px-2 px-xl-5 px-xxl-13 overflow-hidden">
            <div class="tab-pane fadein show active">
              <div class="pay_method">
                <h4 class="font-4 font-weight-bold mb-4">{{ text_payment_choose_method }}<!-- text_payment_choose_method --></h4>
                <div class="row">
                  <div class="col-12 col-md-6 pb-3 pb-md-6" ng-if="!data.no_cod">
                    <label class="cus-checkmark mb-0 col-12 pr-0 border rounded-lg h-100 pl-0" ng-class="{'active': !data.no_cod}">
                      <div class="p-4 border-bottom font-weight-bold ">
                        <div class="position-relative font-4">
                          <input type="radio" name="payment_code" ng-model="params.payment_code" ng-value="'cod'" ng-change="changePaymentMethod()">
                          <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="Group_20451" data-name="Group 20451" transform="translate(-978.98 -207.379)"><path id="Path_28049" data-name="Path 28049" d="M1003.758,216.227a1.587,1.587,0,0,1-.725.729c-2.228,1.29-4.452,2.587-6.682,3.875a2.879,2.879,0,0,1-3.048.006q-6.4-3.68-12.8-7.375a2.471,2.471,0,0,1-.368-.249.759.759,0,0,1,.031-1.272,3.047,3.047,0,0,1,.332-.219c2.245-1.308,4.486-2.623,6.739-3.916a2.849,2.849,0,0,1,2.988,0q6.424,3.689,12.836,7.4a1.559,1.559,0,0,1,.692.7Zm-20.787-2.7c.05.034.081.058.113.077q4.934,2.849,9.867,5.7a.263.263,0,0,0,.293-.009,2.827,2.827,0,0,1,2.954.118.234.234,0,0,0,.291,0q1.941-1.131,3.884-2.258c.049-.029.094-.065.155-.108-.45-.211-.919-.416-.926-.97s.479-.758.914-.977c-3.368-1.946-6.7-3.874-10.042-5.8a.3.3,0,0,0-.245.012,2.891,2.891,0,0,1-2.943.015.288.288,0,0,0-.334.006q-1.9,1.109-3.8,2.211c-.056.033-.109.072-.174.116C983.932,212.1,984.156,212.925,982.971,213.522Z" transform="translate(-0.778 0)" fill="#d991a4"/><path id="Path_28050" data-name="Path 28050" d="M994.437,456.084a4.388,4.388,0,0,1-.782-.27q-7.02-4.036-14.029-8.089c-.158-.091-.327-.189-.3-.4s.194-.3.381-.368a1.368,1.368,0,0,1,1.187.156l7.6,4.385q2.869,1.654,5.735,3.312a.343.343,0,0,0,.4,0q3.518-2.051,7.041-4.093a1.317,1.317,0,0,1,1.186-.137c.175.066.333.153.358.359s-.132.317-.291.409l-6.657,3.869c-.344.2-.679.418-1.035.594A6.642,6.642,0,0,1,994.437,456.084Z" transform="translate(-0.322 -224.705)" fill="#d991a4"/><path id="Path_28051" data-name="Path 28051" d="M980.14,366.143a5.538,5.538,0,0,1,.79.309q6.644,3.819,13.277,7.657a.392.392,0,0,0,.46,0q3.506-2.047,7.02-4.08a1.306,1.306,0,0,1,1.187-.122c.175.068.332.156.349.366s-.138.3-.289.389l-5.969,3.468c-.56.325-1.121.649-1.679.977a1.566,1.566,0,0,1-1.685,0l-13.943-8.048c-.164-.094-.351-.189-.329-.411s.214-.331.419-.386c.119-.032.243-.047.365-.07Z" transform="translate(-0.328 -148.955)" fill="#d991a4"/><path id="Path_28052" data-name="Path 28052" d="M994.22,336.341a4.391,4.391,0,0,1-.782-.27q-7.021-4.033-14.031-8.084c-.158-.091-.324-.195-.3-.405s.194-.3.38-.366a1.362,1.362,0,0,1,1.187.156l7.52,4.338q2.909,1.677,5.816,3.358a.341.341,0,0,0,.4,0q3.527-2.058,7.061-4.1a1.292,1.292,0,0,1,1.142-.136c.182.066.358.146.387.362s-.149.326-.312.421q-2.873,1.671-5.747,3.339c-.641.372-1.275.756-1.926,1.11A5.307,5.307,0,0,1,994.22,336.341Z" transform="translate(-0.116 -112.362)" fill="#d991a4"/><path id="Path_28053" data-name="Path 28053" d="M979.812,406.149a5.533,5.533,0,0,1,.778.308q6.645,3.822,13.278,7.663a.39.39,0,0,0,.459-.008q3.506-2.049,7.019-4.086a1.325,1.325,0,0,1,1.164-.134c.181.064.356.151.374.372s-.151.311-.307.4l-5.5,3.2c-.722.419-1.442.841-2.166,1.257a1.515,1.515,0,0,1-1.6.007q-7-4.03-13.991-8.067a1.261,1.261,0,0,1-.175-.116.315.315,0,0,1,.02-.56A3.9,3.9,0,0,1,979.812,406.149Z" transform="translate(0 -186.489)" fill="#d991a4"/><path id="Path_28054" data-name="Path 28054" d="M1109.125,285.212a6.275,6.275,0,0,1-2.611-.687,3.834,3.834,0,0,1-.62-.417,1.666,1.666,0,0,1,.025-2.772,4.637,4.637,0,0,1,2.218-.931,6.566,6.566,0,0,1,3.807.4,4.038,4.038,0,0,1,1,.631,1.637,1.637,0,0,1-.073,2.7,4.723,4.723,0,0,1-2.354.959C1110.06,285.165,1109.591,285.176,1109.125,285.212Zm-2.029-1.441c.225.121.4.357.647.193a.967.967,0,0,1,.8-.093,1.732,1.732,0,0,0,1.372-.216.527.527,0,0,0,.174-.8c-.085-.14-.188-.269-.27-.41-.119-.2-.047-.346.19-.372a.469.469,0,0,1,.273.035c.211.126.407.276.609.415.073.05.158.148.22.136a6.168,6.168,0,0,0,.66-.2l-.452-.5.344-.263c-.216-.116-.374-.339-.595-.2a1.059,1.059,0,0,1-.827.076,1.674,1.674,0,0,0-1.278.232.462.462,0,0,0-.169.667c.08.15.188.287.282.43.182.277.089.458-.247.475a.927.927,0,0,1-.852-.405c-.219-.34-.454-.3-.743-.167a.641.641,0,0,1-.067.02c-.15.049-.192.137-.073.254s.277.247.432.383Z" transform="translate(-118.391 -68.41)" fill="#d991a4"/><path id="Path_28055" data-name="Path 28055" d="M1085.169,269.449a1.513,1.513,0,0,1-.945-.278.462.462,0,0,1-.007-.8,1.741,1.741,0,0,1,1.891.006.465.465,0,0,1,0,.789A1.476,1.476,0,0,1,1085.169,269.449Z" transform="translate(-98.524 -56.965)" fill="#d991a4"/><path id="Path_28056" data-name="Path 28056" d="M1226.7,349.737a1.469,1.469,0,0,1,.9.277.465.465,0,0,1,0,.8,1.731,1.731,0,0,1-1.876,0,.467.467,0,0,1,0-.8A1.522,1.522,0,0,1,1226.7,349.737Z" transform="translate(-231.292 -133.562)" fill="#d991a4"/></g></svg>
                          {{ text_pay_cod?text_pay_cod:'Tiền mặt (COD)' }}<!-- text_pay_cod --><span class="checkmark float-right"></span>
                        </div>
                      </div>
                      <div class="p-4">
                        <p class="mb-2">Bạn Sẽ Thanh Toán Bằng Tiền Mặt Cho Nhân Viên Khi Giao Hàng. Vui Lòng Kiểm Tra Số Lượng, Tình Trạng Sản Phẩm Và Số Tiền Trong Đơn Hàng Khi Thanh Toán. </p>
                      </div>
                    </label>
                  </div>
                  <div class="col-12 col-md-6 pb-3 pb-md-6">
                    <label class="cus-checkmark mb-0 col-12 pr-0 border rounded-lg h-100 pl-0" ng-class="{'active': data.no_cod}">
                      <div class="p-4 border-bottom font-weight-bold">
                        <div class="position-relative font-4">
                          <input type="radio" name="payment_code" ng-model="params.payment_code" ng-value="'bank_transfer'" ng-change="changePaymentMethod()">
                          <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><g id="Mask_Group_701" data-name="Mask Group 701" transform="translate(-120 -411)" clip-path="url(#clip-path)"><g id="Group_20453" data-name="Group 20453" transform="translate(-1157 -225.821)"><path id="Path_28059" data-name="Path 28059" d="M1412.136,981.561V979.5h-.3c-1.844,0-3.687.007-5.53,0a4.671,4.671,0,0,1-4.633-3.778,8.844,8.844,0,0,1-.1-1.654,7.578,7.578,0,0,0,6.553,3.066,7.467,7.467,0,0,0,6.177-3.761c.5.313.992.622,1.485.933l3.823,2.41a1.171,1.171,0,0,0,.123.06v.047a1.461,1.461,0,0,0-.164.078q-3.6,2.268-7.2,4.539a1.047,1.047,0,0,0-.133.118Z" transform="translate(-118.73 -320.74)" fill="#d991a4"/><path id="Path_28060" data-name="Path 28060" d="M1407.955,761.352a6.155,6.155,0,1,1-6.163,6.119A6.149,6.149,0,0,1,1407.955,761.352Zm.605,3.352v-.789h-1.072c0,.221-.007.424,0,.625.007.143-.037.2-.188.226a2.3,2.3,0,0,0-1.276.64,1.518,1.518,0,0,0,.477,2.462,4.736,4.736,0,0,0,.641.218c.376.1.759.181,1.135.282.142.038.3.1.286.291-.011.207-.192.244-.341.253a3.064,3.064,0,0,1-.815-.02c-.445-.1-.878-.249-1.336-.384l-.557,1.261a1.468,1.468,0,0,0,.276.143c.5.132.991.265,1.492.371.153.032.217.068.208.229-.012.2,0,.4,0,.609h1.09c0-.225.007-.442,0-.658-.006-.142.038-.2.187-.233a2.354,2.354,0,0,0,1.045-.5,1.505,1.505,0,0,0-.367-2.574,8.585,8.585,0,0,0-.985-.291c-.292-.081-.591-.141-.879-.235a.293.293,0,0,1-.172-.216c.006-.087.1-.179.176-.246a.417.417,0,0,1,.2-.061,2.629,2.629,0,0,1,1.354.172c.152.054.3.12.464.186l.538-1.3A4.262,4.262,0,0,0,1408.561,764.7Z" transform="translate(-118.942 -118.655)" fill="#d991a4"/><path id="Path_28061" data-name="Path 28061" d="M1284.6,636.861v2.073h.287c1.82,0,3.64-.005,5.46,0a4.729,4.729,0,0,1,4.582,3.255,5.614,5.614,0,0,1,.212,2.215,7.619,7.619,0,0,0-12.711.665L1277,641.65Z" fill="#d991a4"/></g></g></svg>
                          {{ text_transfer_money?text_transfer_money:'Chuyển khoản' }}<!-- text_transfer_money --><span class="checkmark float-right"></span>
                        </div>
                      </div>
                      <div class="p-4">
                        <p class="mb-2">Hướng Dẫn Chuyển Khoản Sẽ Được Thông Báo Sau Khi Bạn Hoàn Tất Đặt Hàng Trên Màn Hình. </p>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="pb-3 pb-md-6">
                <h4 class="font-4 font-weight-bold mb-4">Điều khoản và điều kiện thanh toán</h4>
                <div class="form-group" ng-class="{'has-error': !params.agree && error_agree}">
                  <div class="custom-control custom-checkbox mb-2">
                    <input type="checkbox" id="input_agree" name="agree" ng-model="params.agree" class="custom-control-input">
                    <label class="custom-control-label" for="input_agree">Tôi đồng ý với điều khoản và điều kiện thanh toán</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_cart_info col-12 col-md-4">
        <div class="box-total-bill">
          <div class="px-6 px-xl-10">
            <div class="border-bottom pt-6 pt-md-10 total-cart-item">
              <div class="cart-item pb-8" ng-repeat="item in data.products" ng-if="item.type!='I'">
                <div class="d-flex flex-xl-row align-items-xl-center font-13">
                  <div class="d-flex item-info">
                    <div class="position-relative" ng-if="item.type!='I'">
                      <span class="embed-responsive embed-responsive-1by1 bg-cover" style="width: 80px; height: 80px"><span class="embed-responsive-item"><img ng-src="{{ '{{ item.product.thumb_url }}' }}" alt="{{ '{{ item.product.name }}' }}" class="w-100"></span></span>
                      <quantity><span ng-bind="item.quantity"></span></quantity>
                    </div>
                    <div class="px-3 px-xl-4 d-flex flex-column justify-content-between">
                      <div ng-if="item.product.stock_status == 'out_of_stock'" class="badge badge-danger fs-6">{{ text_out_of_stock }}</div>
                      <div ng-if="item.product.stock_status == 'pre_order'" class="badge badge-warning fs-6">{{ text_pre_order }}</div>
                      <p class="mb-0 mb-xl-auto limit-text-2" ng-bind="item.product.long_name?item.product.long_name:item.product.name"></p>
                      {#<p class="text-gray mb-1 mb-xl-auto">Combo</p>#}
                      <p class="d-block d-xl-none text-primary mb-0" ng-if="item.type!='G'" ng-bind="(item.total|formatCurrency)+'₫'"></p>
                      <p class="d-block d-xl-none text-primary mb-0 text-nowrap" ng-if="item.type=='G'" ng-bind="(item.coins|number:'':0)+' coin'"></p>
                    </div>
                  </div>
                  <div class="d-none d-xl-block item-price pl-xl-8">
                    <div class="text-primary font-4">
                      <span ng-if="item.type!='G'" ng-bind="(item.total|formatCurrency)+'₫'"></span>
                      <span class="text-nowrap" ng-if="item.type=='G'" ng-bind="(item.coins|number:'':0)+' coin'"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-6 px-xl-10">
            <div class="py-md-6 py-3">
              <div class="d-flex flex-column">
                <p>Tạm tính <b class="float-right" ng-bind="((data.totals.sub_total-data.totals.included_total)|formatCurrency)+'₫'"></b></p>
                <hr class="w-100 my-6">
                <div class="d-flex justify-content-between align-items-end font-weight-bold">
                  <div class="font-weight-bold">Tổng</div>
                  <div class="font-3" ng-bind="(data.totals.total|formatCurrency)+'₫'"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section_button py-6 px-6 px-xl-10">
            <input type="hidden" ng-model="params.shipping_code" required>
            <div class="row position-relative" style="z-index: 1;">
              <div class="col-5"><a href="/checkout/shipping"><button type="button" class="cus_btn btn_primary w-100">Quay lại</button></a></div>
              <div class="col-7">
                <button type="button" class="cus_btn btn_white w-100" ng-click="confirm(form, $event)" data-loading-text="<span class='spinner-border spinner-border-sm'></span> {{ button_continue }}" data-reset-text=" {{ button_continue }}">Đặt hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
<script>
  $(document).ready(function() {
    setTimeout(function() {
      var heights = _.map($('.checkout_pay .checkout_item'), (el) => $(el).outerHeight(false));
      var maxHeight = _.max(heights);
      $('.checkout_pay .checkout_item').css('height', maxHeight + 'px');
    }, 500);

    $('label.cus-checkmark input').click(function () {
      $('label.cus-checkmark').removeClass('active');
      $(this).parents('.cus-checkmark').toggleClass('active')
    })
  })
</script>
{{ footer }}
