{{ header }}
<script>window.langtext = {
    text_add_address: {{ text_add_address|json_encode }},
    text_default: {{ text_default|json_encode }},
    text_phone: {{ text_phone|json_encode }},
    text_fullname: {{ text_fullname|json_encode }},
    text_customer_info: {{ text_customer_info|json_encode }},
    text_recipient_name: {{ text_recipient_name|json_encode }},
    text_delivery_address: {{ text_delivery_address|json_encode }},
    text_province: {{ text_province|json_encode }},
    text_district: {{ text_district|json_encode }},
    text_ward: {{ text_ward|json_encode }},
    entry_province: {{ entry_province|json_encode }},
    entry_district: {{ entry_district|json_encode }},
    entry_ward: {{ entry_ward|json_encode }},
    entry_more_address: {{ entry_more_address|json_encode }},
    entry_customer_phone: {{ entry_customer_phone|json_encode }},
    entry_recipient_name: {{ entry_recipient_name|json_encode }},
    entry_recipient_phone: {{ entry_recipient_phone|json_encode }},
    button_update: {{ button_update|json_encode }},
  };</script>
<script>window.orderInfo={{ orderInfo|json_encode }};window.addressInfo={{ addressInfo|json_encode }};</script>
<main ng-controller="CheckoutShippingCtr" ng-init="init()">
  <form name="form" novalidate autocomplete="off">
    <div class="wid_block_delivery row no-gutters pb-0">
      <div class="box-checkout-header col-12 col-md-8 border-right">
        <div class="section-bill-info">
          <div class="border-bottom py-2 py-xl-4 px-2 px-xl-5 px-xxl-13">
            <div class="bg-white position-relative">
              <div class="d-flex flex-column flex-xl-row py-3 py-xl-0 justify-content-between align-items-center"><a class="py-4 py-xl-1 navbar-brand" href="/"><img src="{{ logo }}" class="img-fluid" style="object-fit: contain"></a>
                <div class="order-process ml-md-3">
                  <div class="d-flex align-items-baseline align-items-md-center font-weight-bold">
                    <div class="progress-item d-flex flex-column flex-md-row justify-content-center align-items-center">
                      <div class="icon_process mr-md-2"><span class="p-2 text-white bg-dark rounded-circle fa fa-shopping-bag"></span></div>
                      <a class="progress-link text-center" style="white-space: nowrap">Giỏ hàng</a>
                    </div>
                    <hr class="d-md-none" width="30px" color="#0F1F2A">
                    <div class="progress-item active d-flex flex-column flex-md-row justify-content-center align-items-center">
                      <hr class="d-none d-md-block mx-2" width="30px" color="#0F1F2A">
                      <div class="icon_process mr-md-2"><span class="p-2 text-white bg-dark rounded-circle fa fa-info-circle"></span></div>
                      <a class="progress-link text-center" style="width: 90px">Vận chuyển</a>
                    </div>
                    <hr class="d-md-none" width="30px" color="#0F1F2A">
                    <div class="progress-item d-flex flex-column flex-md-row justify-content-center align-items-center">
                      <hr class="d-none d-md-block mx-2" width="30px" color="#0F1F2A">
                      <div class="icon_process mr-md-2"><span class="p-2 text-white bg-dark rounded-circle fa fa-credit-card"></span></div>
                      <a class="progress-link text-center">Thanh toán</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content mt-4 mt-xl-8 px-2 px-xl-5 px-xxl-13 overflow-hidden">
            <div class="tab-pane fadein show active">
              <div class="checkout_pay">
                <div class="row">
                  <div class="col-12 col-md-6 pb-3 pb-md-6">
                    <div class="border h-100 position-relative">
                      <div>
                        <div class="d-flex justify-content-start align-items-center p-4 cursor-pointer font-weight-bolder position-relative border-bottom">
                          <h4 class="font-4 font-weight-bold mb-0">Địa chỉ nhận hàng</h4>
                        </div>
                        <div class="p-4 position-relative">
                          <span>Nhận tại cửa hàng</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 pb-3 pb-md-6">
                    <div class="border position-relative h-100">
                      <div class="d-flex justify-content-between align-items-center p-4 cursor-pointer font-weight-bolder position-relative border-bottom">
                        <h4 class="font-4 mb-0 font-weight-bold">{{ text_receiver?text_receiver:'Người mua' }}<!-- text_receivers --></h4>
                        <div class="font-weight-bold">
                          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" style="margin-bottom: 2px"><g id="edit-2-outline" transform="translate(12 11)"><g id="edit-2-outline-2" data-name="edit-2-outline" transform="translate(-12 -11)"><g id="edit-2" transform="translate(0 0)"><rect id="Rectangle_12894" data-name="Rectangle 12894" width="15" height="15" fill="#30302f" opacity="0"/><g id="Group_20440" data-name="Group 20440" transform="translate(1.25 0)"><path id="Path_28040" data-name="Path 28040" d="M15.283,20H4.752a.752.752,0,1,0,0,1.5h10.53a.752.752,0,1,0,0-1.5Z" transform="translate(-3.997 -6.504)" fill="#30302f"/><path id="Path_28041" data-name="Path 28041" d="M4.751,14.049h.068l3.137-.286a1.5,1.5,0,0,0,.91-.429l6.77-6.77a1.444,1.444,0,0,0-.053-2.038L13.521,2.466a1.5,1.5,0,0,0-2-.053l-6.77,6.77a1.5,1.5,0,0,0-.429.91L4,13.229a.75.75,0,0,0,.752.82Zm7.725-10.53,2.053,2.053-1.5,1.467L11.009,5.023Zm-6.694,6.7,4.235-4.2,2.031,2.031L7.835,12.259l-2.257.211Z" transform="translate(-3.996 -2.058)" fill="#30302f"/></g></g></g></g></svg>
                          <a ng-click="editBuyerInfo()">{{ text_modify }}</a>
                        </div>
                      </div>
                      <div class="p-4 position-relative font-weight-bold">
                        <div class="mb-2 d-flex"><span>{{ userInfo.display }}</span><span ng-if="currentUser && params.phone_number">,&nbsp;</span><span ng-if="params.phone_number" ng-bind="params.phone_number"></span></div>
                        <div ng-if="params.email">Email:&nbsp;<!-- text_email --><span ng-bind="params.email"></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 pb-3 pb-md-6">
                    <label class="cus-checkmark bg-light mb-0 pr-0 w-100 pl-0">
                      <div class="p-4 font-4 font-weight-bold border">
                        <div class="pl-6 position-relative">
                          <input name="note_order" type="checkbox" ng-model="params.is_note">Ghi chú đơn hàng<span class="checkmark"></span>
                        </div>
                      </div>
                      <div class="border toggle_item p-4"  ng-show="params.is_note">
                        <textarea name="note" ng-model="params.note" class="form-control" rows="13" placeholder="Ghi chú đơn hàng"></textarea>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_cart_info col-12 col-md-4">
        <div class="box-total-bill">
          <div class="px-6 px-xl-10">
            <div class="border-bottom pt-6 pt-md-10 total-cart-item">
              <div class="cart-item pb-8" ng-repeat="item in data.products" ng-if="item.type!='I'">
                <div class="d-flex flex-xl-row align-items-xl-center font-13">
                  <div class="d-flex item-info">
                    <div class="position-relative">
                      <span class="embed-responsive embed-responsive-1by1 bg-cover" style="width: 80px; height: 80px"><span class="embed-responsive-item"><img ng-src="{{ '{{ item.product.thumb_url }}' }}" alt="{{ '{{ item.product.long_name?item.product.long_name:item.product.name }}' }}" class="w-100"></span></span>
                      <quantity><span ng-bind="item.quantity"></span></quantity>
                    </div>
                    <div class="px-3 px-xl-4 d-flex flex-column justify-content-between">
                      <div ng-if="item.product.stock_status == 'out_of_stock'" class="badge badge-danger fs-6">{{ text_out_of_stock }}</div>
                      <div ng-if="item.product.stock_status == 'pre_order'" class="badge badge-warning fs-6">{{ text_pre_order }}</div>
                      <p class="mb-0 mb-xl-auto limit-text-2" ng-bind="item.product.long_name?item.product.long_name:item.product.name"></p>
                      {#<p class="text-gray mb-1 mb-xl-auto">Combo</p>#}
                      <p class="d-block d-xl-none text-primary mb-0" ng-if="item.type!='G'" ng-bind="(item.total|formatCurrency)+'₫'"></p>
                      <p class="d-block d-xl-none text-primary mb-0 text-nowrap" ng-if="item.type=='G'" ng-bind="(item.coins|number:'':0)+' coin'"></p>
                    </div>
                  </div>
                  <div class="d-none d-xl-block item-price pl-xl-8">
                    <div class="text-primary font-4">
                      <span ng-if="item.type!='G'" ng-bind="(item.total|formatCurrency)+'₫'"></span>
                      <span class="text-nowrap" ng-if="item.type=='G'" ng-bind="(item.coins|number:'':0)+' coin'"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-6 px-xl-10">
            <div class="py-md-6 py-3">
              <div class="d-flex flex-column">
                <p>Tạm tính <b class="float-right" ng-bind="((data.totals.sub_total-data.totals.included_total)|formatCurrency)+'₫'"></b></p>
                <hr class="w-100 my-6" style="background-color: var(--secondary);">
                <div class="d-flex justify-content-between align-items-end font-weight-bold">
                  <div class="font-weight-bold">Tổng</div>
                  <div class="font-3" ng-bind="(data.totals.total|formatCurrency)+'₫'"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section_button py-6 px-6 px-xl-10">
            <div class="row position-relative" style="z-index: 1;">
              <div class="col-5"><a href="/checkout/cart"><button type="button" class="cus_btn btn_primary w-100">Quay lại</button></a></div>
              <div class="col-7">
                <button type="button" class="cus_btn btn_white w-100" ng-click="confirm(form, $event)" data-loading-text="<span class='spinner-border spinner-border-sm'></span> {{ button_continue }}" data-reset-text=" {{ button_continue }}">Tiếp tục</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
{{ footer }}
