{% if products %}
  <div class="row">
    {% for item in products %}
      <div class="col-3">
        <div class="product-item" ng-controller="WishlistProductCtrl" ng-init="init('{{ item.id }}', '{{ item.liked }}', '{{ item.totalLikes }}')">
          <a class="avatar" href="{{ item.href }}"><span class="shadow-sm rounded-sm embed-responsive embed-responsive-1by1"><span class="embed-responsive-item"><img src="{{ placeholder }}" data-src="{{ item.thumb_url }}" class="lazyload w-100 h-100"></span></span></a>
          <div class="product-content">
            <div class="name"><a href="{{ item.href }}">{{ item.name }}</a></div>
            <div class="company"><a href="{{ item.contact.href }}" class="text-danger">{{ item.contact.company }}</a></div>
            <ul class="toolbar">
              <li><a class="cursor-pointer" ng-click="like()"><span class="{{item.liked?'ic_heart_black text-danger':'ic_heart'}}" ng-class="{'ic_heart_black text-danger':liked,'ic_heart':!liked}"></span> <span ng-bind="totalLikes">{{ item.totalLikes }}</span></a></li>
              <li><a href="tel:{{ item.contact.phone }}"><span class="ic_phone_o"></span></a></li>
              <li><a class="cursor-pointer" mtl-share data-url="{{ item.href }}" data-title="{{ item.name }}"><span class="ic_redo"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {{ pagination }}
{% else %}
  <div class="text-center text-muted">{{ text_empty }}</div>
{% endif %}