<footer>
  <div class="footer overflow-hidden border-top">
  <style>
    .footer {
      background-color: var(--secondary);
      color: {{ config.pg_footer_text_color?'var(--'~config.pg_footer_text_color~')':'unset' }};
    }
    .footer .brand__logo {
      filter: {{ config.pg_footer_bg or config.pg_footer_bg_color?'brightness(0) invert(1)':'unset' }} ;
    }

    .footer a:hover{
      color: var(--{{ config.pg_footer_primary_color?config.pg_footer_primary_color:'primary' }});
    }

    .footer .block-iframe-map iframe {
      max-height: 215px;
      min-width: 340px;
      width: 100%;
    }
    .footer .title_ {
      color: {{ config.pg_footer_primary_color?'var(--'~config.pg_footer_primary_color~')':'inherit' }};
    }
    @media (min-width: 767px) {
      .powered{
        border-top: 1px solid var(--secondary);
      }
    }
    @media (min-width: 1280px) {
      .footer .w_info_footer {
        max-width: 15%;
      }
    }
    @media (max-width: 575px) {
      .footer iframe{
        width: 100%;
      }
    }
  </style>
  <div class="{{ config.pg_footer_cont?'container-'~config.pg_footer_cont:'container-md' }} pt-8">
    <div class="row font-5 justify-content-between">
      <div class="col-12 col-sm-auto col-lg-3 mb-5 mb-xl-0 font-weight-bold">
        <a href="/"><img src="{{ logo?logo:'/assets/logo/logo.svg' }}" class="img-fluid brand__logo" alt="{{ global.config_name }}"></a>
        <div class="h4 font-weight-bolder mt-3 wow fadeInUp" data-wow-delay="0.3s">{{ global.config_owner }}</div>
        {% if global.config_address %}<div class="lh-25 wow fadeInUp" data-wow-delay="0.3s"><span class="ic_location lh-25"></span> {{ global.config_address }}</div>{% endif %}
        {% if global.config_hotline %}<div class="py-1 wow fadeInUp" data-wow-delay="0.4s"><span class="ic_phone lh-25"></span> <a href="tel:{{ global.config_hotline|replace({' ': '', '.': ''}) }}">{{ global.config_hotline }}</a></div>{% endif %}
        {% if global.config_email %}<div class="wow fadeInUp" data-wow-delay="0.5s"><span class="ic_email lh-25"></span> <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to={{ global.config_email }}">{{ global.config_email }}</a></div>{% endif %}
        {% if global.config_open %}<div class="pt-1 wow fadeInUp" data-wow-delay="0.6s"><span class="lh-25"></span> <a target="_blank" href="javascript:{}">{{ global.config_open }}</a></div>{% endif %}
      </div>
      <div class="col-12 col-sm-auto mt-5 mt-sm-0">
        <div class="h4 font-weight-bolder title_">{{ text_connect_footer?text_connect_footer:'Kết nối' }}<!-- text_connect_footer --></div>
        <div class="mb-1 wow fadeInUp" data-wow-delay="0.7s">
          {#<iframe src="https://www.facebook.com/plugins/page.php?href={{ global.config_facebook_url|replace({':':'%3A','/':'%2F'}) }}%2F&tabs=&width=&height=107&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=750968439114548" width="340px" height="215px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="false" loading="lazy" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>#}
          <iframe src="https://www.facebook.com/plugins/page.php?href={{ global.config_facebook_url|replace({':':'%3A','/':'%2F'}) }}&tabs=timeline&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=778703546372240" width="340" height="215" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" loading="lazy" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <div class="mt-5 mb-1 wow fadeInUp" data-wow-delay="0.7s">
          <div class="d-flex align-items-center">
            <ul class="list-unstyled list-inline list-social mb-0 d-flex justify-content-center justify-content-md-end align-items-center ml-md-8 ml-lg-2  wow fadeInUp" data-wow-delay="0.9s">
              {% if global.config_facebook_url %}
                <li class="list-inline-item"><a href="{{ global.config_facebook_url }}" class="text-reset"><span class="ic_facebook2"></span></a></li>
              {% endif %}
              {% if global.config_youtube_url %}
                <li class="list-inline-item"><a href="{{ global.config_youtube_url }}" class="text-reset"><span class="ic_youtube2"></span></a></li>
              {% endif %}
              {% if global.config_zalo_url %}
                <li class="list-inline-item"><a href="{{ global.config_zalo_url }}" class="text-reset"><span class="ic_zalo2"></span></a></li>
              {% endif %}
              {% if global.config_instagram_url %}
                <li class="list-inline-item"><a href="{{ global.config_instagram_url }}" class="text-reset"><span class="ic_instagram2 font-weight-bold"></span></a></li>
              {% endif %}
              {% if global.config_linkedin_url %}
                <li class="list-inline-item"><a href="{{ global.config_linkedin_url }}" class="text-reset"><span class="ic_linkedin font-weight-bold"></span></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-auto mt-5 mt-sm-0 pl-sm-1 pl-lg-2">
        <div class="h4 font-weight-bolder title_">{{ text_map_footer?text_map_footer:'Bản đồ' }}<!-- text_map_footer --></div>
        <div class="block-iframe-map w-100 overflow-hidden wow fadeInUp" data-wow-delay="0.75s">
          {{ global.config_googlemap_embed }}
        </div>
      </div>
    </div>
    <div class="border-top text-center py-3 mt-8 d-md-flex justify-content-center">
      <div class="copyright font-12 wow fadeInUp" data-wow-delay="0.8s">{{ global.config_copyright?global.config_copyright:'<a href="http://tedfast.vn" rel="sponsored" target="_blank">© Designed &amp; Developed by TEDFAST</a>' }}</div>
    </div>
  </div>
</div>
</footer>
</div>
<style>#backtop {font-size: 16px;cursor: pointer;-moz-border-radius: 3px;display: none;background-color: rgba(0,0,0,0.12);position: fixed;right: 40px;width: 60px;height: 60px;z-index: 998;border-radius: 50%;text-align: center;bottom: 150px !important;}</style>
<div class="d-none d-xl-block"><div id="backtop"><div class="d-flex align-items-center justify-content-center h-100 w-100"><i class="ic_angle_up text-white"></i></div></div></div>

{% if cart_status %}
<script>
  $(document).ready(function() {
    $('.cart_info').load('/common/cart/info');
  });
</script>
{% endif %}
<!--====== Module ======-->
<script>
  function linkModule(id) {
    if ($('.id_' + id + ':hidden').length) {
      $(".id_" + id).addClass('active')
    } else {
      $('html, body').animate({
        scrollTop: $(".id_" + id).offset().top - $('.box_header').outerHeight(true)
      }, 300);
    }
  }
</script>
<!--====== End Module ======-->

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="/assets/js/lazyload.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script>lazyload();</script>
<script>new WOW({callback: function (box) {$(box).addClass('dynamic');}}).init();</script>
<script src="/assets/js/swiper/swiper-bundle.min.js"></script>
<script src="/assets/js/gsap/gsap.min.js"></script>
<script src="/assets/js/gsap/ScrollTrigger.min.js"></script>
<script src="/assets/js/main.js"></script>
{#{% include 'common/version.twig' %}#}
<!-- Extra -->
{% for script in scripts %}
<script src="{{ script }}"></script>{% endfor %}
<!-- Angular -->
{#{{ compiled }}#}
</body></html>
