{{ header }}
<div id="main-content" class="mdp--{{ info.style }}" style="background: {{ background_image?'url('~background_image~') no-repeat center center / cover fixed':'none' }}">
  {% set cols = properties.col?properties.col:4 %}
  {% set space_col = properties.spacingCol!=''?properties.spacingCol:50 %}
  {% set cols_mb = properties.colMb?properties.colMb:2 %}
  {% set space_col_mb = properties.spacingColMb!=''?properties.spacingColMb:20 %}
  <!--====== Banner Start ======-->
  <style>
    .product_theme_2 {
      --col: {{ cols }};
      --col-mb: {{ cols_mb }};
      --spacing-col: {{ space_col }}px;
      --spacing-col-mb: {{ space_col_mb }}px;
    }
  </style>
  {% if page_info.banner_url %}
    <div id="banners_breadcrumb-{{ layout }}--container" class="id_{{ id }}" style="{{ styles }}"><div id="flag-{{ id }}"></div>
      <div class="{{ properties.cont?'container-'~properties.cont:'container-xl' }} position-relative">
        <div class="banner" style="background-image: url('{{ page_info.banner_url?page_info.banner_url:parent_info.banner_url }}'); background-position: 50% 100%">
          <div class="container-lg">
            <ol class="breadcrumb justify-content-start py-3 wow fadeInUp" data-wow-delay="0.3s">
              {% for item in breadcrumbs %}
                <li class="breadcrumb-item"><a class="" href="{{ item.href }}">{{ item.text }}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container-lg mt-md-6 pt-2 pt-md-0 wow fadeInUp" data-wow-delay="0.3s">
      <ol class="breadcrumb justify-content-start">
        {% for item in breadcrumbs %}
          <li class="breadcrumb-item"><a class="" href="{{ item.href }}">{{ item.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}
  <!--====== Banner End ======-->
  <div class="container-lg">
    <div class="row border-top">
      {% if category_status or manufacturer_status %}
      <div class="col-xl-3 pt-md-6">
        <!--====== Categories Start ======-->
        <div class="pr-xl-5 pb-xl-5 pr-2 pb-2 d-none d-xl-block">
          <div class="submenu align-self-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="category_block">
              {% set limit_row = 5 %}
              {% if category_status %}
                <div class="mb-5">
                <a class="d-block cursor-pointer text-uppercase font-weight-bolder font-4 px-0 mb-2 pb-2">{{ text_category }}<!-- text_category --></a>
                <div class="filter_category">
                  {% for item in categories %}
                    {% set is_category = (item.id in filter_c|split(',') or item.id == info.id) %}
                    <div class="item_category mt-3 {{ is_category ? 'active':'' }} border-bottom pb-3">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="cursor-pointer font-weight-bold {{ is_category?'text-primary':'' }}"><a href="{{ item.href }}">{{ item.name }}</a></div>
                        {% if item.childs %}<span class="ic_angle_down cursor-pointer" onclick="showChild(this)"></span>{% else %}<span style="font-weight: 600; color: var(--primary)">{{ item.count_item }}</span>{% endif %}
                      </div>
                      <div class="item_category_child" style="display: {{ is_category ? 'block':'none' }}">
                        {% for child in item.childs %}
                          <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="cursor-pointer pr-2"><input name="c[]" type="radio" class="custom-control-input" value="{{ child.id }}"{{ child.id in filter_c|split(',') ? ' checked':'' }} id="columnCat{{ child.id }}" onchange="filter(this)"><label class="w-100 cursor-pointer {{ child.id in filter_c|split(',') ? 'text-primary':'' }}" for="columnCat{{ child.id }}">{{ child.name }}</label></div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      <!--====== Categories End ======-->
      </div>
      {% endif %}
      <div class="col border-left pt-3 pt-xl-6 pl-xl-10 px-0">
        <!-- Block Filter  -->
        <div class="block_filter sticky_mb mb-5 mb-xl-10 w-100">
          <div class="d-flex justify-content-between">
            <div class="row position-relative d-none d-xl-flex">
              <!--====== Filter Manufacturer ======-->
              <div class="col-auto cursor-pointer filter_item" style="position: unset;">
                <div class="font-weight-bold mb-0" onclick="toggleActive(this)">
                  <span class="title_filter text-gray">{{ text_manufacturer }}:<!-- text_manufacturer --></span>
                  <span> {{ count_filter_m >= 1 ? text_filter_selected ~ ' ' ~count_filter_m:text_all }}&nbsp;<span class="fa fa-angle-down"></span></span><!-- text_filter_selected -->
                </div>
                <div class="wid_block">
                  <div class="list-option w-100 mb-3">
                    {% if manufacturer_status %}
                      {% for item in manufacturers %}
                        <div class="py-1 filter_input">
                          <div class="custom-control custom-checkbox"><input name="m[]" type="checkbox" class="custom-control-input" value="{{ item.id }}"{{ item.id in filter_m|split(',') ? ' checked':'' }} id="columnM{{ item.id }}"><label class="custom-control-label cursor-pointer w-100" for="columnM{{ item.id }}">{{ item.name }} ({{ item.count_item }})</label></div>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="row no-gutters pt-5 border-top">
                    <div class="col-6 pr-3">
                      <button class="btn btn-dark w-100" onclick="filter()">{{ text_apply }}</button>
                    </div>
                    <div class="col-6 pl-3">
                      <button class="btn btn-light w-100" onclick="removeFilter(this)">{{ button_unselect }}</button>
                    </div>
                  </div>
                </div>
                <!--====== Filter Manufacturer End ======-->
              </div>
              <!--====== Filter Price ======-->
              <div class="col-auto cursor-pointer filter_item" style="position: unset;">
                <div class="font-weight-bold mb-0" onclick="toggleActive(this)">
                  <span class="title_filter text-gray">{{ text_price }}:</span>
                  <span>
                    {% set pricePrefixMin = filter_min >= 1000 ? 'tr' : 'k' %}
                    {% set pricePrefixMax = filter_max >= 1000 ? 'tr' : 'k' %}
                    {% if filter_min or filter_max %}
                      {{ filter_min ? (filter_min >= 1000 ? filter_min / 1000 : filter_min) ~ pricePrefixMin : "0" }}-{{ filter_max ? (filter_max >= 1000 ? filter_max / 1000 : filter_max)~ pricePrefixMax : "0" }}
                    {% else %}
                      {{ text_all }}
                    {% endif %}
                    &nbsp;<span class="fa fa-angle-down"></span></span>
                </div>
                <div class="wid_block">
                  <div class="d-flex align-items-center mb-3">
                    <div class="form-group mb-0" style="flex: 1 1 0%;">
                      <input type="number" name="price_min" id="ft_price_min" class="form-control text-center" value="{{ filter_min }}" autocomplete="off" placeholder="{{ entry_from }}" oninput="changeInputPrice()">
                    </div>
                    <span class="price-prefix" style="padding-left: 2px;">k</span>
                    <span class="mx-2">&mdash;</span>
                    <div class="form-group mb-0" style="flex: 1 1 0%;">
                      <input type="number" name="price_max" id="ft_price_max" class="form-control text-center" value="{{ filter_max }}" autocomplete="off" placeholder="{{ entry_to }}" oninput="changeInputPrice()">
                    </div>
                    <span class="price-prefix" style="padding-left: 2px;">k</span>
                  </div>
                  <div class="list-option w-100 mb-3">
                    <div class="filter-price d-flex align-items-center" onclick="changeCheckedPrice(this)">
                      <div class="cus_radio mt-1">
                        <input type="radio" name="price_filter" value="0-100">
                        <span class="radio"></span>
                      </div>
                      <span class="title-price ml-3 title_item">0 - 100k</span>
                    </div>
                    <div class="filter-price d-flex align-items-center" onclick="changeCheckedPrice(this)">
                      <div class="cus_radio mt-1">
                        <input type="radio" name="price_filter" value="100-500">
                        <span class="radio"></span>
                      </div>
                      <span class="title-price ml-3 title_item">100k - 500k</span>
                    </div>
                    <div class="filter-price d-flex align-items-center" onclick="changeCheckedPrice(this)">
                      <div class="cus_radio mt-1">
                        <input type="radio" name="price_filter" value="500-1000">
                        <span class="radio"></span>
                      </div>
                      <span class="title-price ml-3 title_item">500k - 1tr</span>
                    </div>
                    <div class="filter-price d-flex align-items-center" onclick="changeCheckedPrice(this)">
                      <div class="cus_radio mt-1">
                        <input type="radio" name="price_filter" value="1000-2000">
                        <span class="radio"></span>
                      </div>
                      <span class="title-price ml-3 title_item">1tr - 2tr</span>
                    </div>
                    <div class="filter-price d-flex align-items-center" onclick="changeCheckedPrice(this)">
                      <div class="cus_radio mt-1">
                        <input type="radio" name="price_filter" value="2000-5000">
                        <span class="radio"></span>
                      </div>
                      <span class="title-price ml-3 title_item">2tr - 5tr</span>
                    </div>
                  </div>
                  <div class="row no-gutters pt-5 border-top">
                    <div class="col-6 pr-3">
                      <button class="btn btn-dark w-100" name="btn_ft_apply" onclick="filter()">{{ text_apply }}</button>
                    </div>
                    <div class="col-6 pl-3">
                      <button class="btn btn-light w-100" onclick="removeFilter(this)">{{ button_unselect }}</button>
                    </div>
                  </div>
                </div>
                <!--====== Filter Price End ======-->
              </div>
              <!--====== Filter Stock Status ======-->
              <div class="col-auto cursor-pointer filter_item" style="position: unset;">
                <div class="font-weight-bold mb-0" onclick="toggleActive(this)">
                  <span class="title_filter text-gray">{{ text_status }}:</span>
                  <span id="title_stock_status">&nbsp;</span>
                  <span class="fa fa-angle-down"></span>
                </div>
                <div class="wid_block">
                  <div class="list-option w-100 mb-3">
                    <div class="py-1 filter_input">
                      <div class="stock-item custom-control custom-checkbox mb-2 {{ 'in_stock' in filter_s|split(',') ? ' active':'' }}"><input type="checkbox" class="custom-control-input" name="s[]" {{ 'in_stock' in filter_s|split(',') ? ' checked':'' }} value="in_stock" id="ft_in_stock"><label class="custom-control-label cursor-pointer w-100" for="ft_in_stock">{{ text_in_stock }}</label></div>
                      <div class="stock-item custom-control custom-checkbox {{ 'out_of_stock' in filter_s|split(',') ? ' active':'' }}"><input type="checkbox" class="custom-control-input" name="s[]" {{ 'out_of_stock' in filter_s|split(',') ? ' checked':'' }} value="out_of_stock" id="ft_out_of_stock"><label class="custom-control-label cursor-pointer w-100" for="ft_out_of_stock">{{ text_out_of_stock }}</label></div>
                    </div>
                  </div>
                  <div class="row no-gutters pt-5 border-top">
                    <div class="col-6 pr-3">
                      <button class="btn btn-dark w-100" onclick="filter()">{{ text_apply }}</button>
                    </div>
                    <div class="col-6 pl-3">
                      <button class="btn btn-light w-100" onclick="removeFilter(this)">{{ button_unselect }}</button>
                    </div>
                  </div>
                </div>
              <!--====== Filter Stock Status End ======-->
              </div>
            </div>
            <!--====== Sort ======-->
            <div class="col-auto cursor-pointer filter_item sort_product d-none d-xl-block">
              <div class="font-weight-bold mb-0" onclick="toggleActive(this)">
                <span class="title_filter text-gray">{{ text_sort_by }}:</span>
                <span class="title_sort">&nbsp;</span>
                <span class="fa fa-angle-down"></span>
              </div>
              <div class="wid_block" id="sort_desktop">
                <div class="list-option w-100 mb-3">
                  <label class="sort_item d-flex flex-row-reverse flex-xl-row align-items-center justify-content-between px-4 cursor-pointer mb-0 {{ sort == '' ?'active':'' }}" for="sort_default">
                    <input class="custom-control-input" type="radio" name="sort" id="sort_default" value="" onchange="filter(this)" {{ sort == ''?'checked':'' }}>
                    <div class="icon_check">
                      <svg viewBox="0 0 40 35" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="20"><path d="M3.76205684,20.9494879 C2.90216088,20.09062 1.50482094,20.09062 0.644924973,20.9494879 C-0.214974991,21.8083519 -0.214974991,23.2040079 0.644924973,24.0628718 L10.8024845,34.2082114 C11.2324365,34.6376474 11.7698725,34.8523634 12.3610525,34.8523634 L12.4685405,34.8523634 C13.0597205,34.7986834 13.6509044,34.5302874 14.0808524,34.0471754 L39.5016313,3.61115264 C40.2540433,2.69860867 40.1465553,1.30295273 39.2329114,0.497764762 C38.3192674,-0.253739208 36.9219315,-0.146383212 36.1157755,0.766160751 L12.1998205,29.3770996 L3.76205684,20.9494879 L3.76205684,20.9494879 Z"></path></svg>
                    </div>
                    <span class="title_item">{{ text_default }}</span>
                  </label>
                  <label class="sort_item d-flex flex-row-reverse flex-xl-row align-items-center justify-content-between px-4 cursor-pointer mb-0 {{ 'created_at' in sort?'active':'' }}" for="sort_created">
                    <input class="custom-control-input" type="radio" name="sort" id="sort_created" value="created_at" onchange="filter(this)" {{ 'created_at' in sort?'checked':'' }}>
                    <div class="icon_check">
                      <svg viewBox="0 0 40 35" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="20"><path d="M3.76205684,20.9494879 C2.90216088,20.09062 1.50482094,20.09062 0.644924973,20.9494879 C-0.214974991,21.8083519 -0.214974991,23.2040079 0.644924973,24.0628718 L10.8024845,34.2082114 C11.2324365,34.6376474 11.7698725,34.8523634 12.3610525,34.8523634 L12.4685405,34.8523634 C13.0597205,34.7986834 13.6509044,34.5302874 14.0808524,34.0471754 L39.5016313,3.61115264 C40.2540433,2.69860867 40.1465553,1.30295273 39.2329114,0.497764762 C38.3192674,-0.253739208 36.9219315,-0.146383212 36.1157755,0.766160751 L12.1998205,29.3770996 L3.76205684,20.9494879 L3.76205684,20.9494879 Z"></path></svg>
                    </div>
                    <span class="title_item">{{ text_newest }}</span>
                  </label>
                  <label class="sort_item d-flex flex-row-reverse flex-xl-row align-items-center justify-content-between px-4 cursor-pointer mb-0 {{ 'reduce' in sort?'active':'' }}" for="sort_reduce">
                    <input class="custom-control-input" type="radio" name="sort" id="sort_reduce" value="reduce" onchange="filter(this)" {{ 'reduce' in sort?'checked':'' }}>
                    <div class="icon_check">
                      <svg viewBox="0 0 40 35" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="20"><path d="M3.76205684,20.9494879 C2.90216088,20.09062 1.50482094,20.09062 0.644924973,20.9494879 C-0.214974991,21.8083519 -0.214974991,23.2040079 0.644924973,24.0628718 L10.8024845,34.2082114 C11.2324365,34.6376474 11.7698725,34.8523634 12.3610525,34.8523634 L12.4685405,34.8523634 C13.0597205,34.7986834 13.6509044,34.5302874 14.0808524,34.0471754 L39.5016313,3.61115264 C40.2540433,2.69860867 40.1465553,1.30295273 39.2329114,0.497764762 C38.3192674,-0.253739208 36.9219315,-0.146383212 36.1157755,0.766160751 L12.1998205,29.3770996 L3.76205684,20.9494879 L3.76205684,20.9494879 Z"></path></svg>
                    </div>
                    <span class="title_item">{{ text_most_reduce }}</span>
                  </label>
                  <label class="sort_item d-flex flex-row-reverse flex-xl-row align-items-center justify-content-between px-4 cursor-pointer mb-0 {{ 'price' in sort and 'asc' in order?'active':'' }}" for="sort_price_asc">
                    <input class="custom-control-input" type="radio" name="sort" id="sort_price_asc" value="price-asc" onchange="filter(this)" {{ 'price' in sort and 'asc' in order?'checked':'' }}>
                    <div class="icon_check">
                      <svg viewBox="0 0 40 35" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="20"><path d="M3.76205684,20.9494879 C2.90216088,20.09062 1.50482094,20.09062 0.644924973,20.9494879 C-0.214974991,21.8083519 -0.214974991,23.2040079 0.644924973,24.0628718 L10.8024845,34.2082114 C11.2324365,34.6376474 11.7698725,34.8523634 12.3610525,34.8523634 L12.4685405,34.8523634 C13.0597205,34.7986834 13.6509044,34.5302874 14.0808524,34.0471754 L39.5016313,3.61115264 C40.2540433,2.69860867 40.1465553,1.30295273 39.2329114,0.497764762 C38.3192674,-0.253739208 36.9219315,-0.146383212 36.1157755,0.766160751 L12.1998205,29.3770996 L3.76205684,20.9494879 L3.76205684,20.9494879 Z"></path></svg>
                    </div>
                    <span class="title_item">{{ text_price_asc }}</span>
                  </label>
                  <label class="sort_item d-flex flex-row-reverse flex-xl-row align-items-center justify-content-between px-4 cursor-pointer mb-0 {{ 'price' in sort and 'desc' in order ?'active':'' }}" for="sort_price_desc">
                    <input class="custom-control-input" type="radio" name="sort" id="sort_price_desc" value="price-desc" onchange="filter(this)" {{ 'price' in sort and 'desc' in order ?'checked':'' }}>
                    <div class="icon_check">
                      <svg viewBox="0 0 40 35" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="20"><path d="M3.76205684,20.9494879 C2.90216088,20.09062 1.50482094,20.09062 0.644924973,20.9494879 C-0.214974991,21.8083519 -0.214974991,23.2040079 0.644924973,24.0628718 L10.8024845,34.2082114 C11.2324365,34.6376474 11.7698725,34.8523634 12.3610525,34.8523634 L12.4685405,34.8523634 C13.0597205,34.7986834 13.6509044,34.5302874 14.0808524,34.0471754 L39.5016313,3.61115264 C40.2540433,2.69860867 40.1465553,1.30295273 39.2329114,0.497764762 C38.3192674,-0.253739208 36.9219315,-0.146383212 36.1157755,0.766160751 L12.1998205,29.3770996 L3.76205684,20.9494879 L3.76205684,20.9494879 Z"></path></svg>
                    </div>
                    <span class="title_item">{{ text_price_desc }}</span>
                  </label>
                </div>
              </div>
            <!--====== Sort End ======-->
            </div>
            <!--====== Filter Mobile ======-->
            <div class="position-relative p-2 w-100 d-xl-none border-bottom">
              <div class="box-direct border-bottom swiper swiper_tab_cat_{{ id }}">
                <div class="swiper-wrapper">
                  {% for item in categories %}
                    {% set is_category = (item.id in filter_c|split(',') or item.id == info.id) %}
                    <div class="swiper-slide menu">
                      <div class="pb-2 item_ {{ is_category ? 'active':'' }}"><a href="{{ item.href }}" class="font-weight-bold">{{ item.name }}</a></div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="slider-direct-nav">
                {% for item in categories %}
                  {% set is_category = (item.id in filter_c|split(',') or item.id == info.id) %}
                  {% if is_category and item.childs %}
                    <ul class="d-flex child_cate m-0 p-0" style="list-style: none;overflow-y: auto;">
                      {% for child in item.childs %}
                        <li class="py-3 {{ loop.first?'pr-3':'px-3' }}"><input name="c[]" type="radio" class="custom-control-input d-none" value="{{ child.id }}"{{ child.id in filter_c|split(',') ? ' checked':'' }} id="Cate{{ child.id }}" onchange="filter(this)"><label class="w-100 cursor-pointer text-nowrap {{ child.id in filter_c|split(',') ? 'text-primary':'' }}" for="Cate{{ child.id }}">{{ child.name }}</label></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="filter_item sort_mb mt-2 cursor-pointer">
                <div class="d-flex align-items-center" style="column-gap: 7px" onclick="toggleActive(this)">
                  <svg viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="19"><path d="M5.54153464,1.2 C5.54874686,1.2 5.55590956,1.2002134 5.56301675,1.20063422 C5.57368081,1.20175798 5.58505165,1.20294276 5.59635535,1.204668 C5.61045219,1.20636797 5.62358467,1.20919262 5.63642973,1.21271461 C5.64732892,1.21607381 5.65905253,1.21988031 5.67059208,1.22430446 C5.68561736,1.22981265 5.69947117,1.2362666 5.71281225,1.24354376 C5.74193983,1.2594405 5.77002616,1.2801172 5.79526146,1.30534979 L5.73524683,1.25686354 C5.75683223,1.27076534 5.77683073,1.28692104 5.79490869,1.30499706 L9.37898484,4.88868733 C9.51874961,5.02843705 9.51874961,5.25559755 9.37901844,5.39538087 C9.30876648,5.4649198 9.21704584,5.5000252 9.12529161,5.5000252 C9.03353738,5.5000252 8.94181675,5.4648862 8.87156479,5.39538087 L8.87156479,5.39538087 L5.899,2.423 L5.89991706,18.0416562 C5.89991706,18.2147308 5.77698715,18.3592818 5.61373012,18.3927153 L5.54153464,18.4 C5.34371373,18.4 5.18315222,18.2394558 5.18315222,18.0416562 L5.18315222,18.0416562 L5.183,2.423 L2.21157168,5.39538087 C2.0917733,5.51516635 1.90772317,5.53227856 1.76956715,5.4467175 L1.70482358,5.39538087 C1.56505881,5.25563114 1.56505881,5.02843705 1.70482358,4.88868733 L1.70482358,4.88868733 L5.28369581,1.30954085 C5.30371069,1.28880897 5.32620087,1.2704817 5.35068858,1.25503678 C5.35470953,1.25308895 5.35831529,1.25090951 5.36195044,1.24879928 C5.37829521,1.23868767 5.39611914,1.2301583 5.41467752,1.22312631 C5.42483176,1.21991372 5.43453672,1.21673276 5.44433673,1.21397595 C5.47472366,1.20472978 5.5075803,1.2 5.54153464,1.2 L5.48741947,1.204668 C5.49839448,1.20299293 5.50943277,1.20182734 5.52049586,1.20117122 Z M14.7906671,18.3934235 C14.7806501,18.3914385 14.7734416,18.3897454 14.7663203,18.3878383 C14.7512574,18.3837924 14.7365566,18.3788328 14.7221605,18.3729037 C14.7159966,18.3703011 14.7094845,18.3673795 14.7030787,18.3642727 C14.6676852,18.3473104 14.6346863,18.3243162 14.6054147,18.2953557 L14.6054147,18.2953557 L11.0216913,14.7120181 C10.8819265,14.5722684 10.8819265,14.3450743 11.0216913,14.2053246 C11.1614561,14.0655749 11.3886746,14.0655749 11.5284394,14.2053246 L11.5284394,14.2053246 L14.5,17.176 L14.5007927,1.55834383 C14.5007927,1.38526917 14.6237226,1.24071817 14.7869796,1.20728471 L14.8591751,1.2 C15.056996,1.2 15.2175575,1.36054422 15.2175575,1.55834383 L15.2175575,1.55834383 L15.217,17.175 L18.1884325,14.2053246 C18.3082309,14.0855391 18.492281,14.0684269 18.6304371,14.153988 L18.6951806,14.2053246 C18.8349454,14.3450743 18.8349454,14.5722684 18.695147,14.7120181 L18.695147,14.7120181 L15.1170139,18.2904591 C15.0996103,18.3084862 15.0803352,18.3246952 15.0595026,18.338772 C15.0450715,18.3482105 15.0339405,18.3547276 15.0225453,18.3605926 C15.013719,18.365169 15.0048243,18.3692811 14.9957423,18.3730306 C14.9816218,18.3788366 14.9669518,18.383799 14.9520628,18.3877869 C14.9224115,18.3957704 14.8912841,18.4 14.8591751,18.4 L14.9306698,18.3928177 C14.9071016,18.3976019 14.8831227,18.4 14.8591415,18.4 L14.8591751,18.4 L14.7906671,18.3934235 L14.7906671,18.3934235 Z"></path></svg>
                  <span class="title_sort"></span>
                  <svg class="svg-arrow" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10"><path d="M14.5841911,26.4117842 L32.5587969,44.3804149 C33.3475106,45.1671369 34.6253529,45.1671369 35.4160583,44.3804149 C36.204772,43.5936929 36.204772,42.3158506 35.4160583,41.5291286 L18.8671787,24.9862241 L35.4140666,8.4433195 C36.2027803,7.65659751 36.2027803,6.37875519 35.4140666,5.59004149 C34.6253529,4.8033195 33.3455189,4.8033195 32.5568052,5.59004149 L14.5821994,23.5585062 C13.8056019,24.3370954 13.8056019,25.6350207 14.5841911,26.4117842 Z" id=""></path></svg>
                </div>
                <div class="wid_block" id="sort_mobile">
                </div>
              </div>
            <!--====== Filter Mobile End ======-->
            </div>
          </div>
          <div class="filter-details row no-gutters align-items-center wow fadeInUp pt-3" data-wow-delay="0.3s">
            {% for item in manufacturers %}
              {% if item.id in filter_m|split(',') %}
                <div class="col-auto mr-1 mr-md-3 mb-1 mb-md-3 px-1 px-md-3 py-1  bg-success rounded-sm">{{ item.name }} <label class="mb-0 cursor-pointer" for="columnM{{ item.id }}" onclick="filter()"><span class="fa fa-times pl-2"></span></label></div>
              {% endif %}
            {% endfor %}
            {% if filter_min or filter_max %}
              <div class="col-auto mr-1 mr-md-3 mb-1 mb-md-3 px-1 px-md-3 py-1 bg-success rounded-sm">{{ filter_min ? (filter_min >= 1000 ? filter_min / 1000 : filter_min) ~ pricePrefixMin : "0" }}-{{ filter_max ? (filter_max >= 1000 ? filter_max / 1000 : filter_max)~ pricePrefixMax : "0" }} <label class="mb-0 cursor-pointer" onclick="removePriceFilter()"><span class="fa fa-times pl-2"></span></label></div>
            {% endif %}
            {% if filter_s %}
              {% for item in filter_s|split(',') %}
                <div class="col-auto mr-1 mr-md-3 mb-1 mb-md-3 px-1 px-md-3 py-1 bg-success rounded-sm">{{ item == 'in_stock'?text_in_stock:text_out_of_stock }} <label class="mb-0 cursor-pointer" for="{{ 'ft_'~item }}" onclick="filter()"><span class="fa fa-times pl-2"></span></label></div>
              {% endfor %}
            {% endif %}
            <div class="col-auto mr-3 mb-3 py-2 text-primary cursor-pointer {{ filter_s or filter_min or filter_max or filter_m ?'':'d-none' }}" onclick="removeAllFilter()">Xóa tất cả bộ lọc</div>
          </div>
          <!-- Block Filter End  -->
        </div>
        <script>
          $(document).ready(function() {
            function responsiveSort() {
              if ($(window).width() < 1280) {
                $('#sort_desktop .list-option').appendTo('#sort_mobile');
              } else {
                $('#sort_mobile .list-option').appendTo('#sort_desktop');
              }
            }
            responsiveSort();
            $(window).resize(responsiveSort);

            //Set title item is sorting
            const sort_title_active = $('.sort_item.active .title_item').text();
            $('.title_sort').text(sort_title_active);

            //Set title item is filter by stock status
            const sChecked =  $('input[name^=\'s[]\']:checked');
            const title_s = $('#title_stock_status');
            if (sChecked.length == 1) {
              title_s.text($('.stock-item.active label').text());
            } else  {
              title_s.text('{{ text_all }}');
            }
          });
          //Show Filter Block
          function toggleActive(e) {
            if ($(e).parent('.active').length) {
              $(e).parent().toggleClass('active');
            } else {
              $('.filter_item.active').removeClass('active');
              $(e).parent().toggleClass('active');
            }
          }
          //Custom input radio
          $('.filter-price').click(function () {
            $(this).find('input').prop('checked', true);
          });

          //Change Value Price
          function changeCheckedPrice(e) {
            const valueChecked = $(e).find('input').val();
            const price = valueChecked.split('-');
            $('#ft_price_min').val(price[0]);
            $('#ft_price_max').val(price[1]);
            $('button[name="btn_ft_apply"]').prop('disabled', false);
          }

          function changeInputPrice() {
            const minPrice = $('#ft_price_min').val();
            const maxPrice = $('#ft_price_max').val();
            const btn_apply = $('button[name="btn_ft_apply"]');
            if (minPrice == '' || maxPrice == '' || parseInt(minPrice) >= parseInt(maxPrice)) {
              btn_apply.prop('disabled', true);
            } else {
              btn_apply.prop('disabled', false);
            }
            const listPrice = $('.filter-price input');
            listPrice.each(function(index, element) {
              const valueInput = $(element).val().split('-');
              $(element).prop('checked', minPrice === valueInput[0] && maxPrice === valueInput[1]);
            });
          };
          changeInputPrice();

          var current_url = '{{ current_url }}';
          //var timer = null;

          function filter(e) {
            var q = '{{ q }}';
            var sort = $("input[name='sort']:checked").val();
            var c = [];
            $('input[name^=\'c[]\']:checked').each(function() {
              c.push(this.value);
            });
            var m = [];
            $('input[name^=\'m[]\']:checked').each(function() {
              m.push(this.value);
            });
            var p = [];
            $('input[name^=\'p[]\']:checked').each(function() {
              p.push(this.value);
            });
            var s = [];
            $('input[name^=\'s[]\']:checked').each(function() {
              s.push(this.value);
            });
            var price_min = $("input[name='price_min']").val();
            var price_max = $("input[name='price_max']").val();

            var url = current_url;
            if(q.length) {
              url = url + (url.indexOf('?') === -1 ? '?' : '&') + 'q=' + encodeURIComponent(q);
            }
            if (sort.length) {
              url = url + (url.indexOf('?') === -1 ? '?' : '&') + 'sort=' + encodeURIComponent(sort);
            }
            if (c.length) {
              url = url + (url.indexOf('?') === -1 ? '?' : '&') + 'c=' + encodeURIComponent(c.join(','));
            }
            if (m.length) {
              url = url + (url.indexOf('?') === -1 ? '?' : '&') + 'm=' + encodeURIComponent(m.join(','));
            }
            if (p.length) {
              url = url + (url.indexOf('?') === -1 ? '?' : '&') + 'p=' + encodeURIComponent(p.join(','));
            }
            if (s.length) {
              url = url + (url.indexOf('?') === -1 ? '?' : '&') + 's=' + encodeURIComponent(s.join(','));
            }
            if (price_min.length) {
              url = url + (url.indexOf('?') === -1 ? '?' : '&') + 'min=' + encodeURIComponent(price_min);
            }
            if (price_max.length) {
              url = url + (url.indexOf('?') === -1 ? '?' : '&') + 'max=' + encodeURIComponent(price_max);
            }
            location.href = url;
            // if (!timer) {
            //   timer = setTimeout(function() {
            //     filter();
            //     timer = null;
            //     location.href = url;
            //   }, 500);
            // } else {
            //   clearTimeout(timer);
            //   timer = setTimeout(function() {
            //     filter();
            //     timer = null;
            //     location.href = url;
            //   });
            // }
          };

          function removeFilter(e) {
            var checkboxItem = $(e).parent().parent().parent().find('.list-option input[type=checkbox]');
            if (checkboxItem.length > 0) {
              checkboxItem.filter(':checked').next('label').trigger('click');
            } else {
              $("input[name='price_min']").val('');
              $("input[name='price_max']").val('');
              changeInputPrice();
            }
          }

          function removePriceFilter() {
            var url = window.location.href;
            url = url.replace(/([&?])((min|max)=\w+)/g, '');
            window.location.href = url;
          }

          function removeAllFilter() {
            $('input[name^=\'m[]\']:checked').next('label').trigger('click');
            $('input[name^=\'p[]\']:checked').next('label').trigger('click');
            $('input[name^=\'s[]\']:checked').next('label').trigger('click');
            $("input[name='price_min']").val('');
            $("input[name='price_max']").val('');
            $("input[id='sort_default']").trigger('click');
            filter();
          };

          $(document).ready(function() {
            var swiper_tab_cat = new Swiper(".swiper_tab_cat_{{ id }}", {
              breakpoints: {0: {slidesPerView: 'auto', spaceBetween: 20,}, 768: {slidesPerView: 'auto', spaceBetween: 30,}, 1280: {slidesPerView: 'auto', spaceBetween: 40,},},
              loop: false,
              grabCursor: true,
              freeMode: true,
            });
          });
        </script>
        <div class="overflow-hidden product_theme_2 px-2 px-xl-0 mb-15">
          {% if products %}
          <div class="papular-block overflow-hidden">
            <div class="row bs5">
              {% for item in products %}
                <div class="col-cms wow fadeInUp" data-wow-delay="0.3s">
                  <div class="wid_block hover-zoom-img wow fadeInUp" data-wow-delay="{{ index*0.2 }}s">
                    <!-- Item img -->
                    <a {{ item.href?'href="'~item.href~'"':'' }}>
                      <div class="wid_img img position-relative">
                        {% if item.reduce %}<div class="wid_discount position-absolute d-flex justify-content-center align-items-center"> <span class="align-middle">-{{ item.reduce }}</span> </div>{% endif %}
                        {% if item.stock_status == 'out_of_stock' %}<div class="wid_out_stock">Hết hàng</div>{% endif %}
                        <div class="embed-responsive embed-responsive-{{ properties.imgFrame?properties.imgFrame:'1by1' }} bg-cover lazyload swiper-lazy" data-src="{{ item.raw_url }}" data-background="{{ item.raw_url }}"></div>
                      </div>
                    </a>
                    <!-- Item Name -->
                    <div class="wid_info">
                      {% if item.category.name %}
                        <div class="wid_short_description text-uppercase text-primary mt-3 font-6" style="font-weight: 600">{{ item.category.name }}</div>{% endif %}
                      {% if item.name %}<a href="{{ item.href }}"><h5 class="wid_name mt-1 limit-text-2">{{ item.name }}</h5></a>{% endif %}
                      <!-- Item Rating -->
                      <div class="rating" style="--percent: {{ item.rating/5*100 }}%">
                        <div class="percent">{% for i in 1..5 %}<span class="fa fa-star"></span> {% endfor %}</div>
                        <div>{% for i in 1..5 %}<span class="fa fa-star-o"></span> {% endfor %}</div>
                      </div>
                      <span class="reviews pl-xl-1">({{ item.reviews?item.reviews:0 }} nhận xét)</span>
                    </div>
                    <!-- Price -->
                    <div class="wid_price d-flex flex-wrap mt-1 text-left">
                      {% if item.special %}
                        <del class="price-cost pr-2">{{ item.price?item.price|number_format(0,'.','.') ~ 'đ':text_product_contact }}</del>
                        <span class="price-discount">{{ item.special }}</span>
                      {% else %}
                        <span class="price-discount">{{ item.price?item.price|number_format(0,'.','.') ~ 'đ':text_product_contact }}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="d-flex justify-content-center align-items-center">
              {{ pagination }}
            </div>
          </div>
            {% else %}
            <div class="empty_product d-flex flex-column justify-content-center align-items-center mt-5" style="min-height: 40vh;">
              <svg viewBox="0 0 50 50" style="height: 180px;"><g stroke="none" stroke-width="1" fill-rule="evenodd"><g fill="#97999A"><path d="M44.118,11.852c-0.008-0.014-0.022-0.021-0.03-0.034c-0.031-0.046-0.067-0.085-0.109-0.122   c-0.014-0.01-0.023-0.021-0.036-0.03c-0.067-0.05-0.141-0.091-0.225-0.11L23.068,6.721c-0.108-0.024-0.226-0.019-0.336,0.015   L8.002,11.57c-0.042,0.015-0.075,0.043-0.112,0.065c-0.024,0.014-0.053,0.017-0.074,0.033c-0.006,0.005-0.009,0.014-0.015,0.019   c-0.006,0.006-0.016,0.007-0.022,0.014l-7.573,6.81c-0.222,0.202-0.271,0.533-0.116,0.788c0.112,0.187,0.317,0.303,0.535,0.303   c0.076,0,0.149-0.014,0.218-0.039l6.73-2.508v20.163c0,0.286,0.193,0.535,0.471,0.604l19.957,5.092   c0.048,0.014,0.1,0.021,0.158,0.021c0.069,0,0.137-0.011,0.202-0.032l14.935-5.094c0.254-0.085,0.424-0.323,0.424-0.591V24.155   l5.5-1.904c0.177-0.062,0.315-0.196,0.381-0.371s0.051-0.367-0.043-0.53L44.118,11.852z M7.571,15.718l-4.086,1.524l4.086-3.677   V15.718z M27.532,41.505l-18.71-4.773V12.978l18.71,5.012V41.505z M28.136,16.856l-17.749-4.754l12.568-4.124l18.377,4.302   L28.136,16.856z M42.468,36.77l-13.686,4.666V18.815l5.607,8.089c0.118,0.168,0.31,0.27,0.515,0.27   c0.065,0,0.134-0.012,0.205-0.034l7.359-2.55L42.468,36.77L42.468,36.77z M35.147,25.8l-5.619-8.104l13.763-4.772l4.805,8.392   L35.147,25.8z"></path></g></g></svg>
              <h3 class="font-3 text-gray font-weight-bold">{{ no_product }}</h3>
              <span class="text-gray">{{ text_filter_error }}</span>
            </div>
          {% endif %}
          {#<a href="" class="loadmore-plus mt-10" id="loadmore" style="display:none">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <defs>
                <style>.a {
                    fill: #fff;
                  }</style>
              </defs>
              <path class="a" d="M18.636,8.182H11.818V1.364A1.364,1.364,0,0,0,10.455,0H9.545A1.364,1.364,0,0,0,8.182,1.364V8.182H1.364A1.364,1.364,0,0,0,0,9.545v.909a1.364,1.364,0,0,0,1.364,1.364H8.182v6.818A1.364,1.364,0,0,0,9.545,20h.909a1.364,1.364,0,0,0,1.364-1.364V11.818h6.818A1.364,1.364,0,0,0,20,10.455V9.545A1.364,1.364,0,0,0,18.636,8.182Zm0,0"/>
            </svg>
          </a>
          <div class="h1 px-0 col-12 font-weight-normal mt-14 mb-10">{{ text_partner_prj }}</div>#}
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
