<ol class="breadcrumb justify-content-start py-xl-2 py-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">
  {% for item in breadcrumbs %}
    <li class="breadcrumb-item"><a class="" href="{{ item.href }}">{{ item.text }}</a></li>
  {% endfor %}
</ol>
<div class="row no-gutters border-top" ng-controller="AccountInviteCtrl">
  <div class="col-12 col-xl-3 py-4 py-xl-6">
    <div class="d-flex justify-content-center justify-content-xl-start" ng-controller="ProfileFormCtrl" ng-init="init()" style="display: none" ng-style="{'display':inited?'':'none'}">
      <label for="user_avatar">
        <div class="avatar_img rounded-circle d-flex align-items-center justify-content-center mr-3 mr-xl-6 overflow-hidden wow fadeInUp" data-wow-delay="0.3s">
          <div class="personal_img cursor-pointer position-relative w-100 h-100">
            <span class="embed-responsive embed-responsive-1by1 bg-cover rounded-circle" style="background-image: url('{{ '{{ params.avatar_url }}' }}')"></span>
            <div class="icon_change_img"><img src="/assets/images/icons/icon_camera.png" alt=""></div>
          </div>
        </div>
      </label>
      <input type="file" id="user_avatar" name="avatar" style="display: none;" accept="image/png,image/jpeg" onchange="angular.element(this).scope().changeAvatar(this)">
      <div class="d-flex flex-column justify-content-between align-items-start text-left wow fadeInUp" data-wow-delay="0.4s">
        <div class="account_lv">
          <div class="pb-1"><span class="font-4 font-weight-bold">{{ userInfo.display }}</span></div>
          <div class="cus_badge badge_{{ userInfo.level_id }} text-uppercase font-weight-bold font-13"><span class="lv_text">{{ userInfo.level_name }}</span></div>
        </div>
        <div class="text-primary cursor-pointer font-weight-bold"><a href="/account/points"><span style="text-decoration: underline;">{{ userInfo.coins|number_format(0, '', '.') }} <span>{{ text_points }}</span></span><span class="fa fa-angle-right ml-1"></span></a></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-9 category_order border-left">
    <div class="pl-xl-10 py-4 py-xl-6 wow fadeInUp" data-wow-delay="0.3s">
      {% if not profile_option %}
        <div class="delivery_info">
          <h4 class="text-uppercase font-4 font-weight-bold">{{ text_profile_purchase_order?text_profile_purchase_order:'Đơn mua' }}<!-- text_profile_purchase_order --></h4>
          <div class="order_total d-flex justify-content-between mb-4 mb-xl-0">
            <a href="/account/orders?f=1" class="order_item cursor-pointer position-relative d-flex flex-column flex-md-row align-items-center border">
              <div class="d-block d-md-none position-relative border-bottom" style="width: 30px; height: 30px">
                <img class="w-100" src="/assets/images/icons/unpay_item.png" alt="">
              </div>
              <img class="d-none d-md-block p-2 p-md-4" src="/assets/images/icons/unpay_item.png" alt="">
              <span class="d-none d-md-block border-left" style="height: 80%"></span>
              <span class="font-weight-bold p-1 p-sm-4 text-center text-xl-left">{{ text_unpaid }}<!-- text_unpaid --></span>
              <div class="count_order position-absolute d-flex justify-content-center align-items-center bg-primary text-center font-weight-bold"><span>{{ unpaid_total }}</span></div>
            </a>
            <a href="/account/orders?f=2" class="order_item cursor-pointer position-relative d-flex flex-column flex-md-row align-items-center border">
              <div class="d-block d-md-none position-relative border-bottom" style="width: 30px; height: 30px">
                <img class="w-100" src="/assets/images/icons/confirmed_item.png" alt="">
              </div>
              <img class="d-none d-md-block p-2 p-md-4" src="/assets/images/icons/confirmed_item.png" alt="">
              <span class="d-none d-md-block border-left" style="height: 80%"></span>
              <span class="font-weight-bold p-1 p-sm-4 text-center text-xl-left">{{ text_processing }}<!-- text_processing --></span>
              <div class="count_order position-absolute d-flex justify-content-center align-items-center bg-primary text-center font-weight-bold"><span>{{ confirm_total }}</span></div>
            </a>
            <a href="/account/orders?f=3" class="order_item cursor-pointer position-relative d-flex flex-column flex-md-row align-items-center border">
              <div class="d-block d-md-none position-relative border-bottom" style="width: 30px; height: 30px">
                <img class="w-100" src="/assets/images/icons/shipping_item.png" alt="">
              </div>
              <img class="d-none d-md-block p-2 p-md-4" src="/assets/images/icons/shipping_item.png" alt="">
              <span class="d-none d-md-block border-left" style="height: 80%"></span>
              <span class="font-weight-bold p-1 p-,d-4 text-center text-xl-left">{{ text_shipping }}<!-- text_shipping --></span>
              <div class="count_order position-absolute d-flex justify-content-center align-items-center bg-primary text-center font-weight-bold"><span>{{ shipping_total }}</span></div>
            </a>
            <a href="/account/orders?f=4" class="order_item cursor-pointer position-relative d-flex flex-column flex-md-row align-items-center border">
              <div class="d-block d-md-none position-relative border-bottom" style="width: 30px; height: 30px">
                <img class="w-100" src="/assets/images/icons/completed_item.png" alt="">
              </div>
              <img class="d-none d-md-block p-2 p-md-4" src="/assets/images/icons/completed_item.png" alt="">
              <span class="d-none d-md-block border-left" style="height: 80%"></span>
              <span class="font-weight-bold p-1 p-sm-4 text-center text-xl-left">{{ text_completed }}<!-- text_completed --></span>
              <div class="count_order position-absolute d-flex justify-content-center align-items-center bg-primary text-center font-weight-bold"><span>{{ completed_total }}</span></div>
            </a>
          </div>
        </div>
      {% endif %}
      {% if profile_option == 'invite_code' %}
        <div class="invite_info">
          <h4 class="text-uppercase font-weight-bold">{{ text_referral_code }}<!-- text_referral_code --></h4>
          {#<div class="d-flex justify-content-between">
            <h4 class="text-uppercase font-weight-bold">{{ text_referral_code }}<!-- text_referral_code --></h4>
            <div class="cursor-pointer text-gray font-weight-bold"><a href="/account/invite/histories" style="text-decoration: underline;">Lịch sử giới thiệu</a><span class="fa fa-angle-right ml-1"></span></div>
          </div>#}
          <div class="row no-gutters">
            <div class="col-12">
              <div class="wid_invite_code py-4 text-center overflow-hidden">
                {% if userInfo.share_code %}
                  <input type="hidden" value="{{ userInfo.share_code }}" id="input_copy">
                  <span class="font-4 text-primary">{{ userInfo.share_code }}</span><span id="button_copy" class="font-3 cursor-pointer fa fa-clone float-right mr-4" style="color: #8a8d90"></span>
                {% else %}
                  <a class="font-4 text-primary" href="javascript:;"><span ng-if="share_code" ng-bind="share_code"></span><span ng-if="!share_code" ng-click="createShareCode()">Tạo mã chia sẻ</span></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  window.langtext = {
    text_fullname: {{ text_fullname|json_encode }},
    text_email: {{ text_email|json_encode }},
    text_phone: {{ text_phone|json_encode }},
    text_birthday: {{ text_birthday|json_encode }},
    text_male: {{ text_male|json_encode }},
    text_female: {{ text_female|json_encode }},
    text_delivery_address: {{ text_delivery_address|json_encode }},
    text_province: {{ text_province|json_encode }},
    text_district: {{ text_district|json_encode }},
    text_ward: {{ text_ward|json_encode }},
    text_modify_birthday: {{ text_modify_birthday|json_encode }},
    text_modify_email: {{ text_modify_email|json_encode }},
    text_modify_fullname: {{ text_modify_fullname|json_encode }},
    text_modify_gender: {{ text_modify_fullname|json_encode }},
    text_modify_phone_number: {{ text_modify_phone_number|json_encode }},
    text_edit_address: {{ text_edit_address|json_encode }},
    text_add_address: {{ text_add_address|json_encode }},
    entry_email: {{ entry_email|json_encode }},
    entry_fullname: {{ entry_fullname|json_encode }},
    entry_gender: {{ entry_gender|json_encode }},
    entry_phone_number: {{ entry_phone_number|json_encode }},
    entry_province: {{ entry_province|json_encode }},
    entry_district: {{ entry_district|json_encode }},
    entry_ward: {{ entry_ward|json_encode }},
    entry_more_address: {{ entry_more_address|json_encode }},
    button_update: {{ button_update|json_encode }},
  };
</script>
<script>
  $(document).ready(function() {
    $('main').css('min-height', 'calc(100vh - ' + ($('.box_header').outerHeight() + $('footer').outerHeight()) + 'px)')
  });
  $("#button_copy").click(function() {
    var input = $('#input_copy');
    if (input.val()) {
      var tempInput = $('<input>');
      $('body').append(tempInput);
      tempInput.val(input.val()).select();
      document.execCommand('copy');
      tempInput.remove();
      alert('Đã copy');
    }
  });
</script>
